@font-face {
	font-family: Futura;
	src: url('/futura/Futura Book font.ttf') format('truetype'),
		/* Safari, Android, iOS */;
}

@font-face {
	font-family: Futura;
	src: url('/futura/futura light bt.ttf') format('truetype'),
		/* Safari, Android, iOS */;
	font-weight: 300;
}


@font-face {
	font-family: Futura;
	src: url('/futura/futura Bold font.ttf') format('truetype'),
		/* Safari, Android, iOS */;
	font-weight: 500;
}

html {
	height: 100%
}

body {
	font-family: 'Futura', Fallback, sans-serif !important;
	background-color: #f6f7fa;
}

.main-panel>.content {
	margin-top: 40px;
}

.btnSearchDropdownNavbar{
	padding: 15px !important;
}
.navbar-form .btn{
	font-size: 16px !important;
}
.inputSearchNavbar::placeholder{
	color: #8e8e8e !important;
}


.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover, .dropdown-menu a:active, .dropdown-menu a:focus, .dropdown-menu a:hover{
	background-color: #6d6d6de6 !important;
	color: white !important;
	text-decoration: none !important;
	box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(109 109 109 / 40%);
}

/************ Login *******************/
.bg-cover {
	background-size: cover !important;
}

.btn-text-shadow {
	text-shadow: 1px 1px 2px #000000;
}

.card-login {
	background-color: rgba(19, 19, 19, 0.76);
}

.form-signin .input-group-text img {
	width: 20px;
}

.btn-login {
	width: 350px !important;
	height: 50px !important;
	font-family: Arbutus Slab;
	font-size: 16px !important;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.85;
	letter-spacing: 0.37px;
	text-align: center;
	color: #ffffff;
}

.form-signin .input-group input {
	background: none !important;
	background-image: linear-gradient(0deg, #d8d8d8 2px, rgba(216, 216, 216, 0)
		0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0)
		!important;
}

.form-signin .input-group-focus input, .input-group input:focus {
	color: #fff;
	background: none !important;
	background-color: transparent;
	background-image: linear-gradient(0deg, #000 2px, rgba(0, 0, 0, 0) 0),
		linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0) !important;
	outline: 0;
	background-color: transparent;
}

.form-signin .input-group input, .input-group input::placeholder {
	font-family: 'Futura', Fallback, sans-serif !important;;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.3px;
	color: #ffffff;
}

.form-signin .form-check-sign .check {
	border-radius: 2px;
	border: solid 1px #979797;
	margin-right: 10px;
}

.form-check .form-check-input:checked ~.form-check-sign .check {
	background: #979797 !important;
}

.registerDoomYogaDiv .form-check .form-check-label {
	font-family: 'Futura', Fallback, sans-serif !important;;
	font-size: 13px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.24px;
	color: #ffffff;
}

@media screen and (min-width: 1200px) {
	.card-login {
		padding: 20px 180px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199.5px) {
	.card-login {
		padding: 20px 100px;
	}
}

.material-icons {
	color: #acb1c0 !important;
}

.loginLogo {
	height: 165px;
}

@media screen and (max-width: 767.5px) {
	.loginLogo {
		height: 100px;
	}
	.input-group .input-group-text {
		padding: 0 15px 0 0 !important;
	}
}

.signupLink {
	font-family: 'Futura', Fallback, sans-serif !important;;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.24px;
	color: #e6e6e6;
	text-decoration: underline;
}

.signupLink:hover, .signupLink:focus {
	color: #e6e6e6;
}
/************ end login *****************/
.containerDivLinkCustomer {
	
}

#containerPageBackgrundDiv {
	font-family: 'Futura', Fallback, sans-serif !important;
	background-color: black;
	background-image: url("../images/doom-yoga/doom-yoga-background.jpg");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
	color: white !important;
}

.main {
	padding-top: 70px;
	font-family: 'Futura', Fallback, sans-serif !important;
}

.registerTitle {
	text-transform: capitalize;
	margin-top: 20px;
	font-family: Arbutus Slab;
	font-size: 25px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.8;
	letter-spacing: 0.24px;
	color: #ffffff;
}

.registerSubTitle {
	text-transform: capitalize;
	margin-top: 18px;
	font-family: Arbutus Slab;
	font-size: 25px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.8;
	letter-spacing: 0.24px;
	color: #ffffff;
}

.registerSubTitleContact {
	text-transform: capitalize;
	margin-top: 18px;
	font-family: Arbutus Slab;
	font-size: 25px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.63px;
	color: #ffffff;
}

.subscriptionRowDiv {
	margin-top: 10px;
	padding: 15px 0;
	border-radius: 9.7px;
	border: solid 0.5px #6d6d6d;
	background-image: linear-gradient(97deg, rgba(109, 109, 109, 0.4),
		rgba(109, 109, 109, 0.2));
}

.registerSubscriptionTitleH6 {
	font-family: Arbutus Slab;
	font-size: 19px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.26px;
	color: #ffffff;
}

.registerSubscriptionDetailsP {
	font-family: 'Futura', Fallback, sans-serif !important;
	font-size: 15.3px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.21px;
	color: #ffffff;
	margin-bottom: 5px;
}

.registerSubscriptionFreeP {
	font-family: 'Futura', Fallback, sans-serif !important;;
	font-size: 13.9px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.19px;
	color: #ffffff;
	margin-bottom: 5px;
}

.registerSubscriptionFeesP {
	font-family: Arbutus Slab;
	font-size: 12.5px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.17px;
	color: #ffffff;
	margin-bottom: 5px;
}

form .form-group {
	margin: 15px 0 0 !important;
}

.form-group.formSelectDiv {
	margin: 0 !important;
}

.is-filled .bmd-label-floating, .is-focused .bmd-label-floating,
	.filledInputDiv .bmd-label-floating {
	font-family: 'Futura', Fallback, sans-serif !important;
	color: #fff !important;
	font-size: 13px !important;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.23px;
	top: -0.75rem;
}

.bmd-form-group, .bmd-form-group:not(.has-success):not(.has-danger) [class*=" bmd-label"].bmd-label-floating,
	.bmd-form-group:not(.has-success):not(.has-danger) [class^=bmd-label].bmd-label-floating
	{
	font-family: 'Futura', Fallback, sans-serif !important;
	color: #fff !important;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.32px;
}

.radioButtonLabel {
	font-family: 'Futura', Fallback, sans-serif !important;
	color: #fff !important;
	font-size: 15px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.32px;
}

.contactUsLabel {
	font-family: 'Futura', Fallback, sans-serif !important;
	font-size: 21px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.43px;
	color: #ffffff;
	margin-left: 10px;
}

.registerDoomYogaDiv input.form-control, .contactUsThroughLabel {
	font-family: 'Futura', Fallback, sans-serif !important;;
	font-size: 20px !important;
	font-weight: normal !important;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.32px;
	color: #ffffff !important;
}

.select2-results__option {
	font-family: 'Futura', Fallback, sans-serif !important;;
	font-size: 17px !important;
	font-weight: normal !important;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.32px;
	color: #000;
}

.select2-results__option:hover {
	font-family: 'Futura', Fallback, sans-serif !important;;
	font-size: 17px !important;
	font-weight: normal !important;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.32px;
	color: #fff;
	background-color: #000;
}

.registerDoomYogaDiv .form-control:focus {
	color: #fff;
	background-color: transparent;
	border-color: #eaecef;
	outline: 0;
}

.registerDoomYogaDiv .form-control, .registerDoomYogaDiv .is-focused .form-control
	{
	background: none;
	box-shadow: none;
	background-image: linear-gradient(0deg, #eaecef 2px, rgba(156, 39, 176, 0)
		0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0)
		!important;
}

.select2-container .select2-selection--single .select2-selection__rendered
	{
	background-color: transparent !important;
	color: white !important;
}

.select2-container .select2-selection--single {
	background: transparent;
	border: none !important;
	border-bottom: 1px solid #eaecef !important;
}

.select2-container .select2-selection--single .select2-selection__rendered
	{
	color: white;
	padding-left: 0 !important;
}

.select2-container .select2-selection--single .select2-selection__arrow b
	{
	border-color: #888 transparent transparent transparent;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	height: 0;
	left: 50%;
	margin-left: -4px;
	margin-top: -2px;
	position: absolute;
	top: 50%;
	width: 0;
}

.select2-container .select2-selection--single {
	height: 37px;
	font-size: 20px;
	position: relative;
}

.select2-container .select2-selection--single .select2-selection__arrow
	{
	color: #fff;
	font-size: 1em;
	padding: 4px 12px;
	height: 27px;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 20px;
}

.select2-container .select2-selection--single .select2-selection__arrow b
	{
	border-color: red
}

.iti__country {
	color: black;
}

.my-check-box .checked, .checked, .my-check-box .checked .fas, .checked .fas
	{
	background-image: linear-gradient(to bottom, rgba(56, 226, 233, 0.52),
		#b850b8) !important;
	background: -webkit-linear-gradient(to bottom, rgba(56, 226, 233, 0.52),
		#b850b8);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.contactThroughInput:checked ~.my-check-box i {
	color: white;
}

.contactUsLabel i {
	color: rgba(109, 109, 109, 0.9);
}

p.terms {
	font-family: 'Futura', Fallback, sans-serif !important;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.3px;
	text-align: center;
	color: #ffffff;
}

.getUpdatesLabel {
	font-family: 'Futura', Fallback, sans-serif !important;
	font-size: 19px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.43px;
	color: #ffffff;
	margin-left: 10px;
}

.getUpdatesLabel i {
	color: rgba(109, 109, 109, 0.9);
}

a.terms-text {
	color: #fff;
	font-weight: bold;
}

.registerSpan {
	padding: 19px 45px;
	width: 100%;
	margin-top: 10px;
	/* padding: 23px; */
	transition: 0.5s;
	box-shadow: 0 6px 9px 0 rgb(0 0 0/ 16%);
	font-family: Arbutus Slab;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 0.61;
	letter-spacing: 0.41px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
}

.card-title {
	font-family: 'Futura', Fallback, sans-serif !important;
	font-size: 21px;
	font-weight: normal !important;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.14;
	letter-spacing: 1.3px;
	color: #7b7b7b !important;
	text-transform: uppercase;
}

.eventDetailsTitle {
	font-family: 'Futura', Fallback, sans-serif;
	font-size: 25px;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.5;
	letter-spacing: 1.3px;
	color: #ffffff;
	text-transform: uppercase;
}

.eventDetailsLabel {
	font-family: 'Futura', Fallback, sans-serif;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 1.3px;
	color: #ffffff;
	text-transform: uppercase;
}

.eventDetailsSpan {
	font-family: 'Futura', Fallback, sans-serif;
	font-size: 16px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.28px;
	color: #ffffff;
}
/***************** sidebar **********************/
.sidebar[data-background-color=black] .sidebar-background:after {
	background: #000;
	opacity: 0 !important;
}

.sidebar .user .photo img {
	width: 100px !important;
	height: 100px !important;
}

.sidebar {
	data-background-color: white;
}

.sidebar-background {
	background-size: 100% 100% !important;
	background-repeat: no-repeat !important;
}

.sidebar .user .photo-full {
	box-shadow: none !important;
}

.sidebar .user {
	padding-bottom: 0 !important;
}

.sidebar .user .photo {
	padding: 0 10px;
}

.sidebar .nav {
	margin-top: 20px !important;
}

.sidebar .nav li .dropdown-menu a, .sidebar .nav li a {
	margin: 15px 15px 0 !important;
}

li .nav-link p {
	font-family: 'Futura', Fallback, sans-serif !important;;
	font-size: 14px !important;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.75 !important;
	letter-spacing: 0.11px;
	color: #fff;
	text-transform: uppercase !important;
}

li .nav-link:hover {
	box-shadow: 0 2px 4px 0 rgba(221, 221, 221, 0.5) !important;
	border: solid 0.6px #ffffff;
	background-color: rgba(56, 56, 56, 0.85) !important;
	letter-spacing: 0.2px;
}

li .nav-link:hover p {
	color: #FFFFFF !important;
}

.sidebar .nav li .dropdown-menu a, .sidebar .nav li a {
	font-size: 14.5px !important;
}

li .nav-link:hover a i {
	color: #b1b1b1 !important;
}

.sidebar .nav li .dropdown-menu a, .sidebar .nav li a {
	color: #fff !important;
}

.sidebar[data-background-color=doorder-color] {
	background-color: rgba(68, 68, 68, 0.6)
}

.collapse p {
	padding-left: 0 !important;
}

.sidebar .nav li.active>[data-toggle=collapse] {
	background-color: #fff !important;
}

.card-icon {
	background: #4f4f4f !important;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px #4f4f4f
		!important;
	padding: 20px !important;
}

.page_icon {
	width: 34px;
}

.sidebar .nav i {
	margin-right: 0 !important;
	color: #fff !important;
	font-size: 20px !important;
	line-height: 20px !important;
}

.my-nav-icon {
	width: 22px;
	height: 22px;
	/* margin-top: 3px; */
}

.my-nav-icon-cutomer {
	height: 16px !important;
}

.sidebar .nav .caret {
	margin-top: 10px !important;
}

.sidebar .nav-link p {
	padding-left: 15px;
	width: 100%;
}

.sidebar .user:after {
	background-color: transparent;
}

.sidebar .sidebar-wrapper {
	height: 620px !important;
}

/******************** tables *******************/
.table {
	margin-bottom: 0 !important;
	border-bottom: none !important;
	table-layout: fixed;
}

th {
	font-family: 'Futura', Fallback, sans-serif !important;;
	font-size: 14px !important;
	font-weight: normal !important;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 1.3px;
	color: #656565;
	text-transform: uppercase;
	text-align: center;
}

td {
	font-family: 'Futura', Fallback, sans-serif !important;
	font-size: 14px !important;
	font-weight: normal !important;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #656565;
	text-align: center;
}

div.dataTables_wrapper div.dataTables_filter input {
	font-family: 'Futura', Fallback, sans-serif !important;;
	font-size: 14px !important;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.66px;
	color: #4d4d4d !important;
	width: 219px;
	height: 28px;
	padding: 6px 18px 6px 14px;
	border-radius: 7px;
	border: 1px solid #eee;
	box-shadow: 0 1px 34px 0 rgba(0, 0, 0, 0.08);
	background-color: white;
}

th select {
	font-family: 'Futura', Fallback, sans-serif !important;
	font-size: 13.5px !important;
	font-weight: normal !important;
	font-stretch: normal !important;
	font-style: normal !important;
	line-height: normal !important;
	letter-spacing: 0.55px;
	color: #72777b !important;
	width: 100% !important;
	height: auto !important;
	padding: 5px 3px;
	border-radius: 7px !important;
	border: 1px solid #eee !important;
	box-shadow: 0 1px 34px 0 rgba(0, 0, 0, 0.08) !important;
	background-color: white !important;
	background-image: none !important;
	border-radius: 7px !important;
	color: #4d4d4d;
	border-radius: 7px !important
}

#yearsOfExperience select {
	font-family: 'Futura', Fallback, sans-serif !important;
	font-size: 13.5px !important;
	font-weight: normal !important;
	font-stretch: normal !important;
	font-style: normal !important;
	line-height: normal !important;
	letter-spacing: 0.55px;
	color: #72777b !important;
	width: 200px !important;
	height: auto !important;
	padding: 5px 3px;
	border-radius: 7px !important;
	border: 1px solid #eee !important;
	box-shadow: 0 1px 34px 0 rgba(0, 0, 0, 0.08) !important;
	background-color: white !important;
	background-image: none !important;
	border-radius: 7px !important;
	color: #4d4d4d;
	border-radius: 7px !important
}

div.dataTables_wrapper div.dataTables_length select {
	border: none !important;
	box-shadow: 0 1px 34px 0 rgba(0, 0, 0, 0.08);
	background-color: white;
	font-family: 'Futura', Fallback, sans-serif !important;
	font-size: 14px;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before,
	table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc:before,
	table.dataTable thead .sorting_desc_disabled:before {
	top: auto !important;
	left: 93%;
	right: 0;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,
	table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc:after,
	table.dataTable thead .sorting_desc_disabled:after {
	top: auto !important;
	left: 97%;
	right: 0;
}

.gardenHelpTable>tbody>tr>td, .gardenHelpTable>tbody>tr>th,
	.gardenHelpTable>tfoot>tr>td, .gardenHelpTable>tfoot>tr>th,
	.gardenHelpTable>thead>tr>td, .gardenHelpTable>thead>tr>th {
	padding: 12px 8px !important;
}

.pagination>.page-item.active>a, .pagination>.page-item.active>a:focus,
	.pagination>.page-item.active>a:hover, .pagination>.page-item.active>span,
	.pagination>.page-item.active>span:focus, .pagination>.page-item.active>span:hover
	{
	border-color: #4f4f4f ;
	background-color: #4f4f4f ;
	box-shadow: none !important;
}

/********************* forms ******************/
.form-head span {
	width: 23px;
	height: 23px;
	background-color: #4f4f4f;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-right: 10px;
	padding-top: 5px;
	font-family: 'Futura', Fallback, sans-serif !important;;
	font-size: 12px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.92px;
	text-align: center;
	color: #ffffff;
}

.formSubTitleH5 {
	font-family: 'Futura', Fallback, sans-serif !important;
	font-size: 16px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.5;
	letter-spacing: 1.3px;
	color: #4d4d4d;
	text-transform: uppercase;
}

.formLabel, .changePasswordDiv label {
	font-family: 'Futura', Fallback, sans-serif !important;
	font-size: 14px !important;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal !important;
	letter-spacing: 0.77px;
	color: #4d4d4d !important;
}
.formSpan{
	font-family: 'Futura', Fallback, sans-serif !important;
    font-size: 13px !important;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal !important;
    letter-spacing: 0.77px;
    color: #4d4d4d !important;
}

.form-control, .form-control:invalid, .is-focused .form-control {
	background-image: none;
	box-shadow: 0 2px 48px 0 rgb(0 0 0/ 8%);
}

input.form-control, textarea.form-control,select.form-control {
	padding: 11px 14px 11px 14px;
	border-radius: 5px;
	box-shadow: 0 2px 48px 0 rgb(0 0 0/ 8%);
	background-color: #ffffff;
	font-family: 'Futura', Fallback, sans-serif !important;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.77px;
	color: #4d4d4d;
	width: 100%;
	height: auto;
}

.form-control:focus {
	color: #4d4d4d;
	background-color: transparent;
	outline: 0;
	border-bottom: 2px solid #686868 !important;
	box-shadow: 0 4px 20px 0 rgb(0 0 0/ 14%) !important;
}


.select2-container--default .select2-selection--multiple,
	.select2-container .select2-selection--single {
	padding: 13px 14px 11px 14px;
	border: none !important;
	border-radius: 5px;
	box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
	background-color: #ffffff;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.66px;
	color: #656565;
	width: 100%;
	height: auto !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 20% !important;
}
.select2-container .select2-selection--single {
	padding: 11px 14px 11px 14px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered
	{
	line-height: 1.2 !important;
}

.select2-container--default.select2-container--disabled .select2-selection--multiple
	{
	background-color: #fff !important;
}

.radio-container {
	padding-left: 20px;
}

.form-check .form-check-label .circle .check {
	height: 15px;
	width: 15px;
	border-radius: 100%;
	background-color: #4f4f4f;
}

.form-check .form-check-input:checked ~.circle {
	border: solid 1px #979797;
}

.form-check .form-check-label {
	font-family: 'Futura', Fallback, sans-serif !important;;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.26px;
	color: #1e2432;
}

/************ modal ************/
.modalHeaderH2 h2 {
	font-family: 'Futura', Fallback, sans-serif !important;
	font-size: 25px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 1.3px;
	color: #414141;
}


.modal-content {
	padding: 35px 40px;
	/*padding: 51px 51px 112px 51px;*/
	border-radius: 30px !important;
	border: solid 1px #979797 !important;
	background-color: #ffffff;
}


.modal-dialog {
	width: 60%;
}

@media ( min-width : 576px) {
	.modal-dialog {
		max-width: 972px !important;
	}
	.modal-dialog .modal-body .card-body {
		padding: 5px;
	}
}

@media ( max-width : 575.5px) {
	.modal-dialog {
		width: 95% !important;
		margin-top: 10px;
	}
	.modal-content {
		padding: 35px 30px;
	}
	.modal-dialog .modal-body {
		padding: 15px;
	}
	.modal-dialog .modal-body .card-body {
		padding: 5px;
	}
}

.modal-dialog .modal-header {
	padding: 1rem;
}

.modal-content {
	border-radius: 20px !important;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.08) !important;
	padding: 25px;
}

.modal-dialog .modal-header .close {
	top: auto !important;
}

.modal-button-close {
	font-family: 'Futura', Fallback, sans-serif !important;
	font-size: 18px !important;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.5 !important;
	letter-spacing: 0.17px !important;
	color: #767676 !important;
}

.modal-footer .btn {
	width: 260px !important;
	margin: 0 !important;
}

.modal-dialog .modal-footer {
	padding: 0 !important;
}

.modal-dialog-header {
	text-align: center;
}


.modal-header .close {
	width: 15px;
	height: 15px;
	margin: 39px 37px 35px 49px;
	background-color: #4f4f4f;
	border-radius: 30px;
	color: white !important;
	padding: 0.6rem;
	opacity: 1 !important;
	width: 15px;
}

.modal-header .close i {
	font-size: 10px !important;
	margin: -5px;
}


/************************* datetime picker **************************/
.bootstrap-datetimepicker-widget table td.active:hover>div,
	.bootstrap-datetimepicker-widget table td.active>div {
	background-color: #4f4f4f !important;
	box-shadow: 0 4px 20px 0 rgb(0 0 0/ 14%), 0 7px 10px -5px
		rgb(79 79 79/ 40%);
}

.bootstrap-datetimepicker-widget table td span.active {
	background-color: #4f4f4f;
}

.bootstrap-datetimepicker-widget a[data-action] span,
	.bootstrap-datetimepicker-widget a[data-action]:hover span {
	color: #4f4f4f !important;
}

.bootstrap-datetimepicker-widget table td.today>div:before {
	border-bottom-color: #4f4f4f !important;
}

.bootstrap-datetimepicker-widget .btn.btn-primary.focus,
	.bootstrap-datetimepicker-widget .btn.btn-primary {
	color: #fff;
	background-color: #4f4f4f !important;
	border-color: #4f4f4f !important;
	box-shadow: 0 4px 20px 0 rgb(0 0 0/ 14%), 0 7px 10px -5px
		rgb(79 79 79/ 40%);
}

.bootstrap-datetimepicker-widget .btn.btn-primary.focus,
	.bootstrap-datetimepicker-widget .btn.btn-primary:focus,
	.bootstrap-datetimepicker-widget .btn.btn-primary:hover {
	color: #fff;
	background-color: #4f4f4f !important;
	border-color: #404040 !important;
}

/**********************************/
.accountTitle {
	text-transform: uppercase;
	margin-top: 20px;
	font-family: 'Futura', Fallback, sans-serif !important;
	font-size: 24.7px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 1.61px;
	color: #ffffff;
}

.accountSubTitle {
	font-family: 'Futura', Fallback, sans-serif !important;
	font-size: 20px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 1.3px;
	color: #ffffff;
}

.videoTitleP {
	font-family: 'Futura', Fallback, sans-serif !important;
	font-size: 14.7px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
}

.videoDurationP {
	font-family: 'Futura', Fallback, sans-serif !important;
	font-size: 9.5px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #9191a1;
}

.showAllMessageSpan {
	font-family: 'Futura', Fallback, sans-serif !important;
	font-size: 11px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #ffffff;
}

@media screen and (max-width: 767.5px) {
	.accountTitle {
		font-size: 20px
	}
	.btn.btn-doomyoga-account {
		font-size: 15px !important;
		float: none !important;
	}
	.accountButtonContainerDiv {
		text-align: center;
	}
	.accountSubTitle {
		font-size: 15px;
	}
	.category-videos img {
		width: 150px;
		height: 75px
	}
	.videoTitleP {
		font-size: 11.9px;
	}
	.videoTitleDuration {
		font-size: 6.8px;
	}
	.showAllMessageSpan {
		font-size: 10px
	}
}

@media screen and (min-width: 992px) and (max-width: 1199.5px) {
	.category-videos img {
		width: 150px;
		height: 75px
	}
}

.eventShareLabel {
	font-family: 'Futura', Fallback, sans-serif;
	font-size: 20px !important;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 1.3px;
	color: #414141;
	text-transform: uppercase;
}