
.sidebar .user{
	padding-bottom: 0;
}
.sidebar .sidebar-wrapper{
	padding-bottom: 0 !important;
}
.sidebar .nav{
	margin-top: 0 !important;
}
.inputSearchNavbar {
	padding-top: 10px !important;
	padding-bottom: 11px !important;
}
#minimizeSidebar{
	height: 40px !important;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.dashboard-card-icon {
	background: #fff !important;
	box-shadow: none !important;
}

.dashboard-card-icon-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.dashboard-card-img {
	width: 63px;
}

.card-dashboard-content {
	padding: 1.3rem 1.2rem;
}

.main-panel>.content {
	margin-top: 40px;
}

p.card-category {
	font-family: Quicksand;
	font-size: 14px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.5px;
	color: #7b7b7b !important;
}

.cardDashboardValueH3 {
	font-family: Quicksand;
	font-size: 24.5px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.87px;
	color: #e5c43f !important;
}

.card-dashboard-content .card-footer {
	margin: 0 !important;
}

.card-dashboard-content .card-footer .stats {
	font-family: Quicksand;
	font-size: 13px !important;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.46px;
	color: #c2c8d5 !important;
}

.filterLabelDashboard {
	font-size: 14px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.66px;
	color: #4d4d4d;
	max-width: fit-content;
}

#dashboardCardDiv .btn,#exportButton {
	font-size: 14px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.72px;
	color: #ffffff;
	padding: 9px 52px;
	border-radius: 12px 0;
	text-transform: inherit !important;
}

.tableDashboardH3 {
	font-family: Quicksand;
	font-size: 14px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.5px;
	color: #7b7b7b;
	padding: 10px;
}

.cardContentTableDiv {
	padding: 1rem 0.25rem 0 0.25rem;
}

.ct-chart .ct-series-a .ct-area, .ct-chart .ct-series-a .ct-bar,
	.ct-chart .ct-series-a .ct-line, .ct-chart .ct-series-a .ct-point,
	.ct-chart .ct-series-a .ct-slice-donut, .ct-chart .ct-series-a .ct-slice-donut-solid,
	.ct-chart .ct-series-a .ct-slice-pie {
	stroke: #e9c218 !important;
	stroke-width: 10px;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

h4.card-title {
	margin-top: 20px !important;
	font-family: Quicksand !important;
	font-size: 21px !important;
	font-weight: 500 !important;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.14;
	letter-spacing: 0.2px;
	color: #7b7b7b !important;
}

.card-icon {
	background-color: #f7dc69 !important;
	padding: 19px !important;
}

.page_icon {
	width: 46px !important;
}

.form-head {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 0px;
}

.singleViewSubTitleH5 {
	font-family: Quicksand;
	font-size: 16px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.19;
	letter-spacing: 0.8px;
	color: #4d4d4d;
}

.locationTitleLabel {
	font-family: Quicksand;
	font-size: 15px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.27;
	letter-spacing: 0.6px;
	color: #4d4d4d;
}

.form-head span {
	width: 23px;
	height: 23px;
	background-color: #f7dc69;
	text-align: center;
	color: #ffffff;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-right: 10px;
	font-size: 13px;
	padding-top: 5px;
	font-weight: bold;
}

.form-control:focus {
	border-bottom: 2px solid #f7dc69 !important;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14) !important;
}

.form-group label {
	font-family: Quicksand;
	font-size: 15px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.77px;
	color: #4d4d4d;
}

input.form-control, textarea.form-control {
	padding: 11px 14px 11px 14px;
	border-radius: 5px;
	box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
	background-color: #ffffff;
	font-family: Quicksand;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.77px;
	color: #4d4d4d;
	width: 100%;
	height: auto;
}

.file-url-container {
	padding: 8px 44px 8px 17px;
	border-radius: 9px;
	border: solid 1px #e3e3e3;
	background-color: #ffffff;
	/*width: fit-content;*/
	font-family: Quicksand;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.77px;
	color: #4d4d4d;
}

.file-url-container i {
	font-size: 50px;
	color: #e2e5e7;
}

.btn-submit {
	height: 50px;
	border-radius: 22px 0 22px 0;
	box-shadow: 0 12px 36px -12px rgba(76, 151, 161, 0.35);
	background-color: #e8ca49;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.99px;
	color: #ffffff;
	margin-bottom: 20px;
}

.downloadFilesH5 {
	font-family: Quicksand;
	font-size: 14px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.77px;
	color: #4d4d4d;
}

.editLinkA {
	padding: 0; font-family : Quicksand;
	font-size: 16px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.77px;
	color: #4d4d4d;
	margin-right: 35px;
	font-family: Quicksand;
}

.editLinkA, .editLinkA:active, .editLinkA:focus, .editLinkA:hover {
	background: transparent !important;
}
/****************** tables *************************/
.table {
	margin-bottom: 0 !important;
	border-bottom: none !important;
	table-layout: fixed;
}

div.dataTables_wrapper div.dataTables_filter input {
	font-family: Quicksand;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.66px;
	color: #4d4d4d;
	width: 219px;
	height: 28px;
	padding: 6px 18px 6px 14px;
	border-radius: 7px;
	border: 1px solid #eee;
	box-shadow: 0 1px 34px 0 rgba(0, 0, 0, 0.08);
	background-color: white;
}

th select {
	font-family: Quicksand !important;
	font-size: 13.5px !important;
	font-weight: normal !important;
	font-stretch: normal !important;
	font-style: normal !important;
	line-height: normal !important;
	letter-spacing: 0.55px;
	color: #72777b !important;
	width: 100% !important;
	height: auto !important;
	padding: 5px 3px;
	border-radius: 7px !important;
	border: 1px solid #eee !important;
	box-shadow: 0 1px 34px 0 rgba(0, 0, 0, 0.08) !important;
	background-color: white !important;
	background-image: none !important;
	border-radius: 7px !important;
	color: #4d4d4d;
	border-radius: 7px !important
}

div.dataTables_wrapper div.dataTables_length select {
	border: none !important;
	box-shadow: 0 1px 34px 0 rgba(0, 0, 0, 0.08);
	background-color: white;
	font-family: Quicksand;
	font-size: 14px;
}

.form-control:read-only {
	background-image: linear-gradient(0deg, #7b7b7b 1px, hsla(0, 0%, 82%, 0)
		0), linear-gradient(0deg, #7b7b7b 1px, hsla(0, 0%, 82%, 0) 0);
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th,
	.table>thead>tr>td, .table>thead>tr>th {
	border-left: 1px solid;
	border-color: #e9e8e8 !important;
}

.card .table tr td:first-child, .card .table tr th:first-child {
	border-left: none !important;
}

thead tr th {
	border-top: 1px solid #e9e8e8 !important;
	font-family: Open Sans;
	font-size: 14px !important;
	font-weight: normal !important;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.07;
	letter-spacing: normal;
	text-align: center;
	color: #b1b1b1;
	white-space: initial;
}

tbody tr td {
	font-family: Open Sans;
	font-size: 13px !important;
	font-weight: normal !important;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.15;
	letter-spacing: normal;
	text-align: center;
	color: #212529;
}

tbody tr td:first-child {
	font-family: Open Sans;
	font-size: 13px !important;
	font-weight: normal !important;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.15;
	letter-spacing: normal;
	text-align: center;
	color: #d6b93d;
}

.doorderTable thead tr th {
	border-top: 1px solid #e9e8e8 !important;
	text-align: center;
	font-family: Quicksand;
	font-size: 15px !important;
	font-weight: 600 !important;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #656565;
}

.doorderTable tbody tr td {
	font-family: Quicksand;
	font-size: 14px !important;
	font-weight: 500 !important;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #656565;
}

.doorderTable tbody tr td button, .doorderTable tbody tr td a {
	font-size: 18px !important;
}

.doorderTable>tbody>tr>td, .doorderTable>tbody>tr>th, .doorderTable>tfoot>tr>td,
	.doorderTable>tfoot>tr>th, .doorderTable>thead>tr>td, .doorderTable>thead>tr>th
	{
	border-left: none !important;
}

.doorderTable>tbody>tr>td, .doorderTable>tbody>tr>th, .doorderTable>tfoot>tr>td,
	.doorderTable>tfoot>tr>th, .doorderTable>thead>tr>td, .doorderTable>thead>tr>th
	{
	padding: 12px 8px !important;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before,
	table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc:before,
	table.dataTable thead .sorting_desc_disabled:before {
	top: auto !important;
	left: 93%;
	right: 0;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,
	table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc:after,
	table.dataTable thead .sorting_desc_disabled:after {
	top: auto !important;
	left: 97%;
	right: 0;
}

tr.order-row:hover, tr.order-row:focus {
	cursor: pointer;
	box-shadow: 5px 5px 18px #88888836, 5px -5px 18px #88888836;
}

.btn.btn-fab, .btn.btn-just-icon {
	line-height: 0px !important;
	height: 20px !important;
}


.table td span {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-height: 1rem;
	height: 2rem;
	/*  white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all; */
}
/************************* buttons ******************/
.btn.btn-primary-doorder.btn-link, .btn.btn-primary-doorder.btn-link:active,
	.btn.btn-primary-doorder.btn-link:focus, .btn.btn-primary-doorder.btn-link:hover
	{
	color: #e6cd65 !important;
}

.btn.active.focus, .btn.active:focus, .btn.active:hover, .btn.btn-default.active.focus,
	.btn.btn-default.active:focus, .btn.btn-default.active:hover, .btn.btn-default:active.focus,
	.btn.btn-default:active:focus, .btn.btn-default:active:hover, .btn:active.focus,
	.btn:active:focus, .btn:active:hover, .open>.btn.btn-default.dropdown-toggle.focus,
	.open>.btn.btn-default.dropdown-toggle:focus, .open>.btn.btn-default.dropdown-toggle:hover,
	.open>.btn.dropdown-toggle.focus, .open>.btn.dropdown-toggle:focus,
	.open>.btn.dropdown-toggle:hover, .show>.btn.btn-default.dropdown-toggle.focus,
	.show>.btn.btn-default.dropdown-toggle:focus, .show>.btn.btn-default.dropdown-toggle:hover,
	.show>.btn.dropdown-toggle.focus, .show>.btn.dropdown-toggle:focus,
	.show>.btn.dropdown-toggle:hover {
	background-color: #e8ca49;
	border-color: #e8ca49;
}
/************* modal ********************/
.deleteHeader {
	margin: 25px 0 29px 27px;
	font-family: Quicksand;
	font-size: 25px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.2;
	letter-spacing: normal;
	text-align: center;
	color: #cab459;
}

.modal-header {
	border: none;
}

.modal-footer {
	border: none;
	padding-top: 40px;
}

.modal-dialog-header {
	font-size: 25px;
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
	color: #cab459;
}

.modal-content {
	padding: 50px 40px;
	/*padding: 51px 51px 112px 51px;*/
	border-radius: 30px !important;
	border: solid 1px #979797 !important;
	background-color: #ffffff;
}

@media ( min-width : 576px) {
	.modal-dialog {
		max-width: 972px !important;
		margin-left: 16.75rem !important;
		margin-right: 16.75rem !important;
	}
}

.modal-header .close {
	width: 15px;
	height: 15px;
	margin: 39px 37px 35px 49px;
	background-color: #e8ca49;
	border-radius: 30px;
	color: white !important;
	padding: 0.6rem;
	opacity: 1 !important;
}

.modal-header .close i {
	font-size: 10px !important;
	margin: -5px;
}

.modal-backdrop {
	background-color: #000 !important;
}