html, body {
	font-family: 'Montserrat', sans-serif;
}

html {
	-webkit-font-smoothing: none;
}

.sidebar {
	background-color: #fff;
	box-shadow: none !important;
	border-right: 1px solid #e0e0e0;
	width: 250px;
}

.main-panel {
	width: calc(100% - 250px)
}

#adminNavLogoImg {
	width: 130px !important;
	height: auto !important;
}

.sidebar-mini #adminNavLogoImg {
	width: 100% !important;
	height: auto !important;
}

li .nav-link, .sidebar .nav li .dropdown-menu a, .sidebar .nav li a,
	.sidebar .nav li a p {
	font-family: 'Poppins', sans-serif;
	letter-spacing: normal;
	font-style: normal;
	font-weight: 500;
	font-size: 15px !important;
	line-height: 27px;
	color: #717579;
}

li .nav-link {
	font-family: 'Montserrat', sans-serif;
}

.sidebar .nav i {
	margin-right: 0 !important;
	font-size: 15px !important;
	color: #717579 !important;
	font-style: normal;
	float: right !important;
	margin-left: 15px;
}

li .nav-link:hover, li .nav-link:hover p {
	color: #E8CA49 !important;
}

li .nav-link:hover .profileNameNavbar, .profileNameNavbar:hover {
	color: #E8CA49 !important;
}

.my-nav-icon {
	width: 24px;
	height: 24px;
	margin-top: 1px;
	position: relative;
	display: inline-block;
}

.my-nav-icon-top {
	display: none;
}

li .nav-link:hover .my-nav-icon-top {
	display: inline-block;
}

li .nav-link:hover .my-nav-icon-grey {
	display: none;
}

li .nav-link:hover  i {
	color: #E8CA49 !important;
}

.sidebar[data-background-color=doorder-color] {
	background-color: rgba(68, 68, 68, 0.6)
}

.sidebar .nav li.active>[data-toggle=collapse], .sidebar .nav li .dropdown-menu a:focus,
	.sidebar .nav li .dropdown-menu a:hover, .sidebar .nav li:hover>a {
	background: none !important;
}

/************ top navbar **************/
#minimizeSidebar {
	height: 40px;
	border: 1px solid #eeeeee;
}

.form-inline.navbar-form .input-group {
	box-shadow: 0 2px 2px 0 hsl(0deg 0% 60%/ 14%), 0 3px 1px -2px
		hsl(0deg 0% 60%/ 20%), 0 1px 5px 0 hsl(0deg 0% 60%/ 12%);
	border-radius: 20px;
}

.btnSearchDropdownNavbar {
	font-family: 'Montserrat', sans-serif;
	border-radius: 20px 0 0 20px !important;
	height: 40px;
}

.btnSearchNavbar {
	font-family: 'Montserrat', sans-serif;
	border-radius: 0 20px 20px 0 !important;
	height: 40px;
}

.searchFormContainerDiv input {
	font-family: 'Montserrat', sans-serif;
	border-radius: 0 !important;
	height: 40px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #717579;
}

.main-panel .navbar .collapse .navbar-nav .nav-item .nav-link {
	padding: 10px 8px !important;
}

.navbarDropdownMenuLink .badge {
	display: inline-block;
	min-height: 25px;
	min-width: 25px;
	border-radius: 50px;
	padding: 5px;
	position: absolute;
	right: -2px;
	top: -5px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #FFFFFF;
	border-radius: 50px;
}

#navbarDropdownMenuLinkNotification .badge {
	background-color: #E9C218;
}

#navbarDropdownMenuLinkInbox .badge {
	background-color: #CC4B4C;
}

#navbarDropdownMenuLinkCalendar .badge {
	background-color: #60A244;
}

.userLogoNavbar, .userLogoNavbarImg {
	width: 45px;
	height: 45px;
	border-radius: 14px;
	display: inline-block;
	position: absolute;
}

.userLogoNavbar {
	background-color: rgba(232, 202, 73, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;
}

.userLogoNavbar span {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
	color: #000000;
}

.userLogoNavbar img {
	width: 100%;
}

.profileNameNavbar {
	display: block !important;
	margin-bottom: 0;
	font-family: Montserrat;
	font-style: normal !important;
	font-weight: bold !important;
	font-size: 18px !important;
	line-height: 22px !important;
	color: #171B1E !important;
	margin-left: 50px;
	text-transform: capitalize;
}

.profileUserTypeNavbar {
	display: inline-block !important;
	margin-bottom: 0;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	text-align: right;
	color: #717579;
	margin-left: 50px;
	text-transform: capitalize;
}

/*************** ****************/
.card-title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold !important;
	font-size: 20px;
	line-height: 24px;
	color: #171B1E;
}

/*********** orders tabs *******/
.nav-pills.ordersListPills .nav-item .nav-link {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 12px !important;
	line-height: 24px;
	display: block;
	background: #E9C218 !important;
	border-radius: 5px !important;
	box-shadow: none !important;
	color: #FFFFFF !important;
}

.nav-pills.ordersListPills .nav-item .nav-link:hover {
	border-radius: 5px !important;
}

.nav-pills.ordersListPills .nav-item .nav-link.active, .nav-pills.ordersListPills .nav-item .nav-link.active:hover
	{
	color: #E9C218;
	display: none;
}

/*********** tables *************/
div.dataTables_wrapper div.dataTables_filter input {
	font-family: Montserrat;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.66px;
	color: #4d4d4d;
	width: 219px;
	height: 28px;
	padding: 6px 18px 6px 14px;
	border-radius: 7px;
	border: 1px solid #eee;
	box-shadow: 0 1px 34px 0 rgba(0, 0, 0, 0.08);
	background-color: white;
}

.doorderTable thead tr th {
	text-align: center;
	font-stretch: normal;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600 !important;
	font-size: 12px !important;
	line-height: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #5E5873;
	background-color: #F3F2F7;
	padding: 12px 8px;
}

.doorderTable tbody tr td {
	font-stretch: normal;
	letter-spacing: normal;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal !important;
	font-size: 14px !important;
	line-height: 21px;
	color: #6E6B7B;
}

.ordersListTable tbody tr td:first-child {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600 !important;
	font-size: 14px;
	line-height: 21px;
	color: #7367F0;
}

.doorderTable td .orderStatusSpan {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	padding: 2px 4px;
	border-radius: 16px;
	height: auto;
}

.doorderTable td .tablePinSpan {
	font-size: 25px !important;
}

.doorderTable td .orderStatusSpan.pendingStatus {
	color: #82868B;
	background-color: #82868B1F;
}

.doorderTable td .orderStatusSpan.readyStatus {
	color: #F3D54F;
	background-color: #F3D54F1F;
}

.doorderTable td .orderStatusSpan.matchedStatus {
	color: #38B018;
	background-color: #38B0181F;
}

.doorderTable td .orderStatusSpan.onRoutePickupStatus {
	color: #FF9F43;
	background-color: #FF9F431F;
}

.doorderTable td .orderStatusSpan.pickedUpStatus {
	color: #4A95D3;
	background-color: #4A95D31F;
}

.doorderTable td .orderStatusSpan.onRouteStatus {
	color: #FF9F43;
	background-color: #FF9F431F;
}

.doorderTable td .orderStatusSpan.deliveredArrivedStatus {
	color: #F56D6D;
	background-color: #F56D6D1F;
}

.doorderTable td .orderStatusSpan.deliveredStatus {
	color: #28C76F;
	background-color: #28C76F1F;
}

.doorderTable td .orderStatusSpan.notDeliveredStatus {
	color: #d85656;
	background-color: #d856561f
}

.tooltipC {
	position: relative;
	position: relative;
	display: inline-block;
}

.tooltipC .tooltiptextC {
	visibility: hidden;
	display: none;
	width: max-content;
	height: auto;
	background-color: #e7e7e7;
	text-align: left;
	border-radius: 6px;
	padding: 5px;
	z-index: 1;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #656565;
	position: absolute;
	/*   top: 100%; */
	/*   left: 50%; */
	/*   margin-left: -60px; */
	top: -5px;
	right: 110%;
	overflow: inherit;
	box-shadow: 0 2px 2px 0 hsl(0deg 0% 60%/ 14%), 0 3px 1px -2px
		hsl(0deg 0% 60%/ 20%), 0 1px 5px 0 hsl(0deg 0% 60%/ 12%);
}

.tooltipC .tooltiptextC::after {
	content: "";
	position: absolute;
	/*   bottom: 100%; */
	/*   left: 50%; */
	/*   margin-left: -5px; */
	/*   border-width: 10px; */
	/*   border-style: solid; */
	/*   border-color: transparent transparent #e6e6e6 transparent; */
	top: 50%;
	left: 100%;
	margin-top: -8px;
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent transparent #e7e7e7;
}

.tooltipC:hover .tooltiptextC {
	display: block;
	visibility: visible;
	/*   position: absolute; */
	/*    position: absolute; */
	/*   z-index: 1001; */
}

ul.pagination {
	background: #F3F2F7;
	border-radius: 16px;
}

.pagination>.page-item>.page-link, .pagination>.page-item>span {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	text-align: center;
	color: #6E6B7B;
}

.pagination>.page-item.active>a, .pagination>.page-item.active>a:focus,
	.pagination>.page-item.active>a:hover, .pagination>.page-item.active>span,
	.pagination>.page-item.active>span:focus, .pagination>.page-item.active>span:hover
	{
	background: #F7DC69;
	border-radius: 29px !important;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	/* 1) Theme Color / White */
	color: #FFFFFF;
}

.pagination .page-item:first-child a, .pagination .page-item:first-child span,
.pagination .page-item:last-child a, .pagination .page-item:last-child span{
	color:  #E9C218;
	font-size: 16px;
}

/*********** buttons ************/