html, body {
	font-family: 'Montserrat', sans-serif;
}

html {
	-webkit-font-smoothing: none;
}

.sidebar {
	background-color: #fff;
	box-shadow: none !important;
	border-right: 1px solid #e0e0e0;
	width: 250px;
}

@media ( min-width : 991px) {
	.main-panel {
		width: calc(100% - 250px)
	}
}

#adminNavLogoImg {
	width: 130px !important;
	height: auto !important;
}

.sidebar-mini #adminNavLogoImg {
	width: 100% !important;
	height: auto !important;
}

li .nav-link, .sidebar .nav li .dropdown-menu a, .sidebar .nav li a,
	.sidebar .nav li a p {
	font-family: 'Poppins', sans-serif;
	letter-spacing: normal;
	font-style: normal;
	font-weight: 500;
	font-size: 15px !important;
	line-height: 27px;
	color: #717579;
}

li .nav-link {
	font-family: 'Montserrat', sans-serif;
}

.sidebar .nav i {
	margin-right: 0 !important;
	font-size: 15px !important;
	color: #717579 !important;
	font-style: normal;
	float: right !important;
	margin-left: 15px;
}

li .nav-link:hover, li .nav-link:hover p {
	color: #E8CA49 !important;
}

li .nav-link:hover .profileNameNavbar, .profileNameNavbar:hover {
	color: #E8CA49 !important;
}

.my-nav-icon {
	width: 24px;
	height: 24px;
	margin-top: 1px;
	position: relative;
	display: inline-block;
}

.my-nav-icon-top {
	display: none;
}

li .nav-link:hover .my-nav-icon-top {
	display: inline-block;
}

li .nav-link:hover .my-nav-icon-grey {
	display: none;
}

li .nav-link:hover  i {
	color: #E8CA49 !important;
}

.sidebar[data-background-color=doorder-color] {
	background-color: rgba(68, 68, 68, 0.6)
}

.sidebar .nav li.active>[data-toggle=collapse], .sidebar .nav li .dropdown-menu a:focus,
	.sidebar .nav li .dropdown-menu a:hover, .sidebar .nav li:hover>a {
	background: none !important;
}

/************ top navbar **************/
#minimizeSidebar {
	height: 40px;
	border: 1px solid #eeeeee;
}

.form-inline.navbar-form .input-group {
	box-shadow: 0 2px 2px 0 hsl(0deg 0% 60%/ 14%), 0 3px 1px -2px
		hsl(0deg 0% 60%/ 20%), 0 1px 5px 0 hsl(0deg 0% 60%/ 12%);
	border-radius: 20px;
}

.btnSearchDropdownNavbar {
	font-family: 'Montserrat', sans-serif;
	border-radius: 20px 0 0 20px !important;
	height: 40px;
}

.btnSearchNavbar {
	font-family: 'Montserrat', sans-serif;
	border-radius: 0 20px 20px 0 !important;
	height: 40px;
}

.searchFormContainerDiv input {
	font-family: 'Montserrat', sans-serif;
	border-radius: 0 !important;
	height: 40px;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #717579;
}

.main-panel .navbar .collapse .navbar-nav .nav-item .nav-link {
	padding: 10px 8px !important;
}

.navbarDropdownMenuLink .badge {
	display: inline-block;
	min-height: 25px;
	min-width: 25px;
	border-radius: 50px;
	padding: 5px;
	position: absolute;
	right: -2px;
	top: -5px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	color: #FFFFFF;
	border-radius: 50px;
}

#navbarDropdownMenuLinkNotification .badge {
	background-color: #E9C218;
}

#navbarDropdownMenuLinkInbox .badge {
	background-color: #CC4B4C;
}

#navbarDropdownMenuLinkCalendar .badge {
	background-color: #60A244;
}

.userLogoNavbar, .userLogoNavbarImg {
	width: 45px;
	height: 45px;
	border-radius: 14px;
	display: inline-block;
	position: absolute;
}

.userLogoNavbar {
	background-color: rgba(232, 202, 73, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;
}

.userLogoNavbar span {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
	color: #000000;
}

.userLogoNavbar img {
	width: 100%;
}

.profileNameNavbar {
	display: block !important;
	margin-bottom: 0;
	font-family: Montserrat;
	font-style: normal !important;
	font-weight: bold !important;
	font-size: 18px !important;
	line-height: 22px !important;
	color: #171B1E !important;
	margin-left: 50px;
	text-transform: capitalize;
}

.profileUserTypeNavbar {
	display: inline-block !important;
	margin-bottom: 0;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	text-align: right;
	color: #717579;
	margin-left: 50px;
	text-transform: capitalize;
}

/*************** ****************/
.card-title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold !important;
	font-size: 20px;
	line-height: 24px;
	color: #171B1E !important;
}

/*********** orders tabs *******/
.nav-pills.ordersListPills .nav-item .nav-link {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 12px !important;
	line-height: 24px;
	display: block;
	background: #E9C218 !important;
	border-radius: 5px !important;
	box-shadow: none !important;
	color: #FFFFFF !important;
}

.nav-pills.ordersListPills .nav-item .nav-link:hover {
	border-radius: 5px !important;
}

.nav-pills.ordersListPills .nav-item .nav-link.active, .nav-pills.ordersListPills .nav-item .nav-link.active:hover
	{
	color: #E9C218;
	display: none;
}

/*********** tables *************/
div.dataTables_wrapper div.dataTables_filter input {
	font-family: Montserrat;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.66px;
	color: #4d4d4d;
	width: 219px;
	height: 28px;
	padding: 6px 18px 6px 14px;
	border-radius: 7px;
	border: 1px solid #eee;
	box-shadow: 0 1px 34px 0 rgba(0, 0, 0, 0.08);
	background-color: white;
}

.doorderTable thead tr th {
	text-align: left;
	font-stretch: normal;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600 !important;
	font-size: 12px !important;
	line-height: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #5E5873;
	background-color: #F3F2F7;
	padding: 12px 8px;
}

.doorderTable tbody tr td {
	font-stretch: normal;
	letter-spacing: normal;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal !important;
	font-size: 14px !important;
	line-height: 21px;
	color: #6E6B7B;
	text-align: left !important;
}

.ordersListTable tbody tr td:first-child {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600 !important;
	font-size: 14px;
	line-height: 21px;
	color: #7367F0;
}

.doorderTable td .orderStatusSpan {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	padding: 2px 4px;
	border-radius: 16px;
	height: auto;
}

.doorderTable td .tablePinSpan {
	font-size: 25px !important;
}

.doorderTable td .orderStatusSpan.pendingStatus {
	color: #82868B;
	background-color: #82868B1F;
}

.doorderTable td .orderStatusSpan.readyStatus {
	color: #F3D54F;
	background-color: #F3D54F1F;
}

.doorderTable td .orderStatusSpan.matchedStatus {
	color: #38B018;
	background-color: #38B0181F;
}

.doorderTable td .orderStatusSpan.onRoutePickupStatus {
	color: #FF9F43;
	background-color: #FF9F431F;
}

.doorderTable td .orderStatusSpan.pickedUpStatus {
	color: #4A95D3;
	background-color: #4A95D31F;
}

.doorderTable td .orderStatusSpan.onRouteStatus {
	color: #FF9F43;
	background-color: #FF9F431F;
}

.doorderTable td .orderStatusSpan.deliveredArrivedStatus {
	color: #F56D6D;
	background-color: #F56D6D1F;
}

.doorderTable td .orderStatusSpan.deliveredStatus {
	color: #28C76F;
	background-color: #28C76F1F;
}

.doorderTable td .orderStatusSpan.notDeliveredStatus {
	color: #d85656;
	background-color: #d856561f
}

.tooltipC {
	position: relative;
	position: relative;
	display: inline-block;
}

.tooltipC .tooltiptextC {
	visibility: hidden;
	display: none;
	width: max-content;
	height: auto;
	background-color: #e7e7e7;
	text-align: left;
	border-radius: 6px;
	padding: 5px;
	z-index: 1;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #656565;
	position: absolute;
	/*   top: 100%; */
	/*   left: 50%; */
	/*   margin-left: -60px; */
	top: -5px;
	right: 110%;
	overflow: inherit;
	box-shadow: 0 2px 2px 0 hsl(0deg 0% 60%/ 14%), 0 3px 1px -2px
		hsl(0deg 0% 60%/ 20%), 0 1px 5px 0 hsl(0deg 0% 60%/ 12%);
}

.tooltipC .tooltiptextC::after {
	content: "";
	position: absolute;
	/*   bottom: 100%; */
	/*   left: 50%; */
	/*   margin-left: -5px; */
	/*   border-width: 10px; */
	/*   border-style: solid; */
	/*   border-color: transparent transparent #e6e6e6 transparent; */
	top: 50%;
	left: 100%;
	margin-top: -8px;
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent transparent #e7e7e7;
}

.tooltipC:hover .tooltiptextC {
	display: block;
	visibility: visible;
	/*   position: absolute; */
	/*    position: absolute; */
	/*   z-index: 1001; */
}

ul.pagination {
	background: #F3F2F7;
	border-radius: 16px;
	width: max-content;
	float: right;
}

.pagination>.page-item>.page-link, .pagination>.page-item>span {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	text-align: center;
	color: #6E6B7B;
}

.pagination>.page-item.active>a, .pagination>.page-item.active>a:focus,
	.pagination>.page-item.active>a:hover, .pagination>.page-item.active>span,
	.pagination>.page-item.active>span:focus, .pagination>.page-item.active>span:hover
	{
	background: #F7DC69;
	border-radius: 29px !important;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	/* 1) Theme Color / White */
	color: #FFFFFF;
}

.pagination .page-item:first-child a, .pagination .page-item:first-child span,
	.pagination .page-item:last-child a, .pagination .page-item:last-child span
	{
	color: #E9C218;
	font-size: 16px;
}

.doorderDashboardTable thead tr th {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #8E8E8E;
	background-color: white;
	text-transform: capitalize;
	text-align: center;
}

.doorderDashboardTable thead tr th:first-child {
	text-align: left !important;
}

.doorderDashboardTable tbody tr td.nameTd {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500 !important;
	font-size: 16px !important;
	line-height: 20px;
	color: #23314B;
}

.doorderDashboardTable tbody tr td.countTd {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600 !important;
	font-size: 16px !important;
	line-height: 20px;
	color: #E9C218;
	text-align: center !important;
}

.doorderDashboardTable tbody tr td.chargeTd {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	text-align: center !important;
}

.ui-datepicker-calendar td, .ui-datepicker-calendar th {
	font-family: Montserrat;
}
.ui-datepicker-calendar td a{
	text-align: center;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active,
	a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover
	{
	border-color: #60A244;
	background-color: #60A244;
}

/*********** buttons ************/
.btn-doorder-filter {
	background: #E8CA49;
	border: 1px solid #E8CA49;
	border-radius: 6px;
	min-width: 120px;
	height: 40px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 21px;
	color: #FFFFFF;
	position: relative;
	margin: 0.45rem 5px 0;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	padding: 6px 14px;
}

.btn-doorder-filter:focus {
	outline: none !important;
}

/****************************/
#dashboardFilterRowDiv .inputFilter, .mapContainerDiv .inputFilter {
	font-family: Montserrat;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.66px;
	color: #4d4d4d;
	width: 100%;
	height: 40px;
	padding: 6px 18px 6px 14px;
	border-radius: 7px;
	border: 1px solid #eee;
	box-shadow: 0 1px 34px 0 rgba(0, 0, 0, 0.08);
	background-color: white;
}

#dashboardCardDiv .card.card-stats {
	margin-top: 0;
	margin-bottom: 15px;
}

#dashboardCardDiv .card.card-stats .cardDashboardValueH3 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 49px;
	color: #171B1E;
}

#dashboardCardDiv .card.card-stats p.card-category {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #717579;
	margin: 0;
}

#dashboardCardDiv .card-dashboard-content .card-footer {
	margin: 0 !important;
	padding-top: 5px;
}

#dashboardCardDiv .card-dashboard-content .card-footer .stats {
	font-family: Montserrat;
	font-size: 13px !important;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.46px;
	color: #c2c8d5 !important;
}

#dashboardCardDiv .cardContentTableDiv .card-title.tableDashboardH3 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	/* Black */
	color: #252525 !important;
}

#dashboardCardDiv .cardContentTableDiv .card-title.tableDashboardH3  span
	{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #656565;
}

.ct-chart .ct-series-a .ct-area, .ct-chart .ct-series-a .ct-bar,
	.ct-chart .ct-series-a .ct-line, .ct-chart .ct-series-a .ct-point,
	.ct-chart .ct-series-a .ct-slice-donut, .ct-chart .ct-series-a .ct-slice-donut-solid,
	.ct-chart .ct-series-a .ct-slice-pie {
	stroke: #F8C140 !important;
	stroke-width: 2px;
}

.ct-chart .ct-series-b .ct-area, .ct-chart .ct-series-b .ct-bar,
	.ct-chart .ct-series-b .ct-line, .ct-chart .ct-series-b .ct-point,
	.ct-chart .ct-series-b .ct-slice-donut, .ct-chart .ct-series-b .ct-slice-donut-solid,
	.ct-chart .ct-series-b .ct-slice-pie {
	stroke: #60A244 !important;
	stroke-width: 2px;
}

.ct-series-a .ct-line .ct-point {
	opacity: 1;
	stroke-linecap: round;
}

.ct-label {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #A098AE;
}

.chartDataH3 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	color: #252525;
}

.weekMonthData .chartDataLabel {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */
	color: #7B7B7B;
	margin-bottom: 0;
}

.weekMonthData .chartDataValue {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
}

.weekMonthData .chartDataValue.chartDataValueLast {
	color: #E9C218;
}

.weekMonthData .chartDataValue.chartDataValuePlus {
	color: #60A244;
}

.weekMonthData .chartDataValue.chartDataValueMinus {
	color: #CC4B4C;
}

.mapPickupOrderNumber {
	color: #747474;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 22px;
	margin: 0;
}

.mapPickupName, .mapCustomerName {
	color: #747474;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	margin: 0;
}

.mapPickupAddress, .mapCustomerAddress, .mapDriverLastUpdate {
	color: #747474;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	margin: 0;
}

.mapCustomerOrderNumber {
	color: #60A244;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 22px;
	margin: 0;
}

.mapDriverName {
	color: #F7DC69;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 22px;
	margin: 0;
}

div.dropdown.bootstrap-select.form-control {
	height: 40px;
	border-radius: 7px;
}

button.dropdown-toggle.select-with-transition {
	padding: 0 10px !important;
	border-radius: 7px !important;
	border: 1px solid #eee !important;
	font-family: Montserrat !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-size: 12px !important;
	line-height: 24px !important;
	color: #4D4D4D !important;
	height: 40px !important;
}

.selectShowPinsContainer .dropdown-toggle:after {
	color: #E9C218;
	border-top: 0.5em solid;
	border-right: 0.5em solid transparent;
	border-bottom: 0;
	border-left: 0.5em solid transparent;
}