html {
    -webkit-font-smoothing: none;
}
body {
    font-family: Quicksand;
}

li .nav-link {
    font-family: Quicksand;
}

li .nav-link:hover {
    border-radius: 12px!important;
    background-color: #fafafa!important;
    color: #e2c447!important;
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
}

li .nav-link:hover a i {
    color: #e2c447!important;
}


.sidebar[data-background-color=doorder-color]
{
    background-color: rgba(68, 68, 68, 0.6)
}

.card-icon {
    background: #f7dc69!important;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px #f7dc69 !important;
}

.page_icon {
    width: 39px;
}

.card-header h4 {
    font-family: Quicksand;
    /*margin: 0 0 38px 78px;*/
    font-size: 21px;
    font-weight: 500;
    /*line-height: 2.14;*/
    letter-spacing: 0.2px;
    color: #7b7b7b;
}

.status_icon {
    width: 13px;
    height: 13px;
    margin: 0 11px 0 0;
}

.status_text {
    font-size: 10px;
    font-weight: 500;
    color: #656565;
}

.my-nav-icon {
    width: 24px;
    height: 24px;
    margin-top: 3px;
}

.status {
    float: right;
    display: flex;
    flex-wrap: wrap;
    padding-right: 70px;
}

.status_item {
    margin: -29px 0 0 11px;
    font-size: 10px;
    font-weight: bold;
    color: #656565;
}

.status_icon {
    width: 13px;
}

th {
    font-size: 16px!important;
    font-weight: 700!important;
    color: #656565;
    text-align: center;
    word-wrap: normal;
}

td {
    text-align: center;
    max-width: 165px;
    min-width: 100px;
    font-size: 14px;
    color: #656565;
}

.order_status_icon {
    width: 19px;
}

.progress {
    width: 110px;
    height: 8px;
    border-radius: 10px;
    background-color: #e0e0e0;
    margin-bottom: 0;
    text-align: center;
}

.progress-bar {
    background-image: linear-gradient(254deg, #f7dc69, #e9c218);
    border-radius: 10px;
}

.sidebar[data-background-color=black] .sidebar-background:after {
    background: rgba(68, 68, 68, 0.8);
    /*opacity: .6;*/
}

.sidebar-background {
    background-position-x: 53%!important;
    background-position-y: 10%!important;
    background-size: auto!important;
}


.sidebar .user .photo-full{
    box-shadow: none!important;
}

.sidebar .nav-link p {
    padding-left: 15px;
}

.sidebar .user:after {
    background-color: none;
}


