/* html { */
/* 	-webkit-font-smoothing: none; */
/* } */

/* body { */
/* 	font-family: Roboto */
/* } */

/* .dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover, */
/* 	.dropdown-menu a:active, .dropdown-menu a:focus, .dropdown-menu a:hover */
/* 	{ */
/* 	background-color: #60a244 !important; */
/* 	color: white !important; */
/* 	text-decoration: none !important; */
/* 	box-shadow: 0 4px 20px 0 rgb(0 0 0/ 14%), 0 7px 10px -5px */
/* 		rgb(96 168 68/ 40%); */
/* } */

/* .sidebar .user .photo img { */
/* 	width: 100px !important; */
/* 	height: 100px !important; */
/* } */

/* .sidebar .user { */
/* 	padding-bottom: 0 !important; */
/* } */

/* .sidebar .user .photo { */
/* 	padding: 0 10px; */
/* } */

/* .sidebar .nav { */
/* 	margin-top: 5px !important; */
/* } */


/* li .nav-link:hover { */
/* 	border-radius: 16px !important; */
/* 	/* 	background-color: #60a244 !important; */ */
/* 	background-color: #30BB30 !important; */
/* 	text-decoration: none !important; */
/* } */

/* li .nav-link:hover p { */
/* 	color: #FFFFFF !important; */
/* } */

/* .sidebar .nav li .dropdown-menu a, .sidebar .nav li a , li .nav-link p { */
/* 	/* 	font-size: 14.5px !important; */ */
/* 	font-family: Roboto; */
/* 	font-style: normal; */
/* 	font-weight: normal; */
/* 	font-size: 16px !important; */
/* 	line-height: 30px !important; */
/* 	/* identical to box height, or 281% */ */
/* 	letter-spacing: 0.15px; */
/* 	/* color: #FFFFFF !important; */ */
/* } */

li .nav-link:hover a i {
	color: #b1b1b1 !important;
}

.sidebar .nav li .dropdown-menu a, .sidebar .nav li a {
	color: #fff !important;
}

.sidebar[data-background-color=doorder-color] {
	background-color: rgba(68, 68, 68, 0.6)
}

/* .collapse p { */
/* 	padding-left: 0 !important; */
/* } */

.sidebar .nav li.active>[data-toggle=collapse] {
	background-color: #fff !important;
}

.card-icon {
	background: #30BB30 !important;	
/* 	background: #60a244 !important; */
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px #60a244
		!important;
}

.page_icon {
	width: 34px;
}

.sidebar .nav i {
	margin-right: 0 !important;
	color: #fff !important;
	font-size: 23px !important;
	line-height: 30px !important;
	width: auto !important;
}

/* .sidebar .nav .caret { */
/* 	margin-top: 10px !important; */
/* } */

.card .card-header.card-header-icon .card-title {
	font-family: Roboto;
	font-size: 21px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.14;
	letter-spacing: 0.2px;
	color: #60a244;
}

.card-header h4 {
	/*margin: 0 0 38px 78px;*/
	font-size: 21px;
	font-weight: 500;
	/*line-height: 2.14;*/
	letter-spacing: 0.2px;
	color: #7b7b7b;
}

.status_icon {
	width: 18px;
	height: 18px;
	/*margin: 0 11px 0 0;*/
	margin-right: 3px;
}

.status_text {
	font-size: 10px;
	font-weight: 500;
	color: #656565;
}

.my-nav-icon {
	width: 22px;
	height: 22px;
	/* margin-top: 3px; */
}

.my-nav-icon-cutomer {
	height: 16px !important;
}

.status {
	/*float: right;*/
	display: flex;
	flex-wrap: wrap;
	/*padding-right: 5px;*/
	margin-top: 10px;
}

.status_item {
	margin: 0 0 0 11px;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #656565;
}

th {
	font-size: 16px !important;
	text-align: center;
	word-wrap: break-word !important;
	/* white-space: nowrap; */
	font-family: Roboto;
	font-weight: bold !important;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #656565;
}

td {
	text-align: center;
	line-height: 1.07;
	font-family: Roboto;
	font-size: 14px !important;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #656565;
}

.order_status_icon {
	width: 19px;
}

.progress {
	/* width: 110px; */
	height: 8px;
	border-radius: 10px;
	background-color: #e0e0e0;
	margin-bottom: 0;
	text-align: center;
}

.progress-bar {
	background-image: linear-gradient(254deg, #60a244, #8b6e3c);
	border-radius: 10px;
}

.sidebar {
	data-background-color: white;
}

.sidebar-background {
	background-position-x: 53% !important;
	background-position-y: 10% !important;
	/*background-size: auto!important;*/
}

.sidebar .user .photo-full {
	box-shadow: none !important;
}

.sidebar .nav-link p {
	padding-left: 15px;
	width: 100%;
}

.sidebar .user:after {
	background-color: transparent;
}

.sidebar .sidebar-wrapper {
	height: 620px !important;
}

.form-head span {
	width: 23px;
	height: 23px;
	background-color: #f7dc69;
	text-align: center;
	color: #ffffff;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-right: 10px;
	font-size: 12px;
	padding-top: 5px;
	font-weight: bold;
}

.form-head {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.19;
	letter-spacing: 0.8px;
	color: #4d4d4d;
	padding-left: 0px;
}

.form-control, .form-control:invalid, .is-focused .form-control {
	background-image: none;
	box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

.inputFileHidden {
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.is-focused {
	box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

.form-control:focus {
	background-image: none !important;
	border-bottom: 2px solid #60a244 !important;
	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14) !important;
}

.form-group label {
	margin-left: 15px;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.77px;
	color: #acb1c0;
}

.form-group input, .form-group textarea{
	padding-left: 14px;
	padding-right: 14px;
}

/*.form-group select {*/
/*    margin-top: 32px;*/
/*    height: 36px!important;*/
/*    font-size: 14px;*/
/*    letter-spacing: 0.77px;*/
/*    color: #000000;*/
/*    background-image: none!important;*/
/*    padding-left: 14px;*/
/*}*/
.bootstrap-select .btn.dropdown-toggle.select-with-transition {
	background-image: none;
}

.form-group .bootstrap-select {
	background-image: none;
}

.filter-option-inner {
	font-size: 14px;
	letter-spacing: 0.77px;
	color: #000000;
	text-transform: capitalize;
}

.filter-option {
	padding-top: 5px !important;
	padding-left: 14px !important;
}

/* .card-body { */
/* 	/* padding-top: 40px !important; */ */
/* 	padding-top: 5px !important; */
/* } */

.modal-body .card-body .container {
	padding-bottom: 0 !important;
}

.card-body .container {
	padding-bottom: 40px;
}

.radio-container {
	padding-left: 20px;
}

.radio-container label {
	padding-right: 20px;
}

.form-check .form-check-input:checked ~.circle {
	border: solid 1px #60a244;
}

.radio-container .form-check .circle .check {
	background-color: #60a244 !important;
}
.form-check .form-check-label .circle .check{
	background-color: #60a244 !important;
}

.bt-submit {
	width: 347px;
	height: 50px;
	border-radius: 24px;
	box-shadow: 0 12px 36px -12px rgba(76, 151, 161, 0.35);
	background-color: #60a244;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.99px;
	color: #ffffff;
}

.bootstrap-select .dropdown-item.active {
	background: #60a244;
}

.bootstrap-select .dropdown-item:hover {
	background: #60a244;
	color: #ffffff
}

.pagination>.page-item.active>a, .pagination>.page-item.active>a:focus,
	.pagination>.page-item.active>a:hover, .pagination>.page-item.active>span,
	.pagination>.page-item.active>span:focus, .pagination>.page-item.active>span:hover
	{
	background-color: #60a244;
	font-weight: bold;
	box-shadow: none !important;
    color: white !important;
    text-decoration: none !important;
}

.pagination>.page-item>.page-link, .pagination>.page-item>span {
	border-radius: 6px !important;
}

.garden-btn {
	border-radius: 24px;
	box-shadow: 0 12px 36px -12px rgba(76, 151, 161, 0.35);
	background-color: #60a244;
	width: 247px;
	height: 50px;
	font-size: 13.6px;
	font-weight: 500;
	letter-spacing: 0.75px;
	color: #ffffff;
}

.btn-primary {
	background-color: #60a244 !important;
	box-shadow: 0 2px 2px 0 rgb(96 162 68/ 14%), 0 3px 1px -2px
		rgb(96 162 68/ 20%), 0 1px 5px 0 rgb(96 162 68/ 12%) !important;
}

.garden-btn-lg {
	width: 347px !important;
	height: 50px !important;
}

.sidebar .sidebar-background:after {
	background: black;
	opacity: 0.7;
}