body, html {
	height: 100%;
	font-family: Roboto;
}

/************ Login *******************/
.bg-cover {
	background-size: cover !important;
}

.btn-text-shadow {
	text-shadow: 1px 1px 2px #000000;
}

.card-login {
	/*padding: 20px 200px;*/
	border-radius: 63px;
	border: solid 1px #979797;
	background-color: #ffffff;
}

.btn-login {
	width: 247px;
	height: 55px;
}

input {
	font-size: 16px !important;
	letter-spacing: 0.3px;
	color: #ccb13e !important;
}

@media screen and (min-width: 900px) {
	.card-login {
		padding: 20px 200px;
	}
}

.material-icons {
	color: #acb1c0 !important;
}
/************ end login *****************/
input, .select2-container--default .select2-selection--single .select2-selection__rendered
	{
	font-family: Roboto;
	font-size: 17px !important;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.32px;
	color: #1e2432 !important;
}

label.bmd-label-floating, .form-check-label, .bmd-label-static {
	font-family: Roboto;
	font-size: 15px !important;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.32px;
	color: #acb1c0;
}

.is-focused [class*=" bmd-label"], .is-focused [class^=bmd-label] {
	color: #acb1c0 !important;
}

.form-control, .is-focused .form-control {
	background-image: linear-gradient(0deg, #60a244 2px, rgba(156, 39, 176, 0)
		0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0)
		!important;
}

.form-check .form-check-label {
	font-size: 16px !important;
}

.registerTitle {
	font-family: Roboto;
	font-size: 20px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.25;
	letter-spacing: 0.19px;
	color: #60a244;
}

.registerSubTitle, .registerModalTitle {
	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.5;
	letter-spacing: 0.17px;
	color: #000000;
}

.requestSubTitle {
	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #656565;
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

.main {
	background-color: white;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	padding: 10px 23px 23px 35px;
}

.modal-content {
	border-radius: 20px !important;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.08) !important;
	padding: 25px;
}

.modal-dialog .modal-header .close {
	top: auto !important;
}

.modal-button-close {
	font-family: Roboto;
	font-size: 18px !important;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.5 !important;
	letter-spacing: 0.17px !important;
	color: #767676 !important;
}

.modal-button-done {
	font-family: Roboto;
	font-size: 18px !important;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.5 !important;
	letter-spacing: 0.17px !important;
	color: #60a244 !important;
}

.modal-button-done:disabled {
	color: #999 !important;
}

.modal-dialog .modal-footer {
	padding: 0 !important;
}

.my-check-box-label, .customer-register-label, .requestLabel {
	font-family: Roboto;
	font-size: 17px !important;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.32px;
	color: #acb1c0 !important;
}

.requestLabelGreen {
	font-family: Roboto;
	font-size: 17px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.32px;
	color: #60a244;
}

.requestSpan {
	font-family: Roboto;
	font-size: 16.5px !important;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.32px;
	color: #1e2432 !important;
}

.requestSpanGreen {
	font-family: Roboto;
	font-size: 17px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.32px;
	color: #60a244;
}

.customerRequestSpan {
	font-family: Roboto;
	font-size: 16.5px !important;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.32px;
	color: #1e2432 !important;
	/* padding: 7px 10px !important; */
	height: auto;
	min-height: 35px;
}

.cardTitleGreen {
	font-family: Roboto;
	font-size: 18px !important;
	font-weight: 500 !important;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.5;
	letter-spacing: 0.17px;
	color: #60a244 !important;
}
.cardTitleGrey{
	font-family: Roboto;
	font-size: 18px !important;
	font-weight: 500 !important;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.5;
	letter-spacing: 0.17px;
	color: #656565 !important;
}

.select2-container--default .select2-selection--single {
	border: none !important;
	border-bottom: solid 1px #eaecef !important;
}

.my-check-box-label-checked {
	color: #6c707c !important;
	font-weight: bold !important;
}

.my-check-box {
	width: 15px;
	height: 15px;
	color: #c3c7d2;
}

.my-check-box .checked, .checked {
	color: #60a244 !important;
}

.add-other-input {
	font-family: Roboto;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.26px;
	color: #acb1c0;
}

.add-other-button {
	position: absolute;
	right: 0;
	color: gray;
	margin-top: 10px;
	margin-right: 15px;
	color: #c3c7d2 !important;
	transition: 0.3s ease-in-out;
}

.inputFileVisible {
	background-image: none;
}

.card .card-header.card-header-icon i, .card .card-header.card-header-text i{
	font-size: 28px
}
.circle {
	border-color: #60a244 !important;
}

.check {
	background-color: #60a244 !important;
}

.form-check-label {
	font-size: 17px;
	letter-spacing: 0.32px;
	color: #1e2432;
}

.terms {
	margin: 0 0 10px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.32px;
	color: #1e2432;
}

.terms-text {
	color: #60a244;
}

.submit-container {
	text-align: center;
}

.btn-register {
	width: 247px !important;
	height: 55px !important;
}

.main-radius {
	border-radius: 30px !important;
	margin-top: 20px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]
	{
	background-color: #60a244 !important;
}

.requestDownloadLink {
	font-size: 16.5px !important;
}

@media ( max-width : 767px) {
	.container-fluid {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}

.table {
	table-layout: fixed;
}

/* .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, */
/* 	.table>thead>tr>td, .table>thead>tr>th { */
/* 	border-left: 1px solid; */
/* 	border-color: #e9e8e8 !important; */
/* } */


/* thead tr th { */
/* 	border-top: 1px solid #e9e8e8 !important; */
/* 	text-align: center; */
/* } */
.recommendContractor{
	margin-top: 8px !important;
	margin-bottom: 5px !important;
}
.recommendContractor .card-body{
	padding: 6px 15px !important;
	cursor: pointer !important;
}
.recommendContractor .card-body label{
	cursor: pointer !important;
}
.recommendContractorNameH6{
	font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #60a244;
  margin-bottom: 0px !important;
}
.recommendContractorDataP{
	font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #656565;
  margin-bottom: 1px !important;
}
.selected-contractor-card .recommendContractorNameH6{
	font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #60a244;
  margin-bottom: 0px !important;
}

.selected-contractor-card .recommendContractorDataP{
	font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #656565;
  margin-bottom: 1px !important;
}
.assignContractorHeader
{font-family: Roboto;
  font-size: 30px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #60a244;}

.clickBtn{
	padding: 10px 25px !important;
	font-size: 13px !important;
}

/************************* datetime picker **************************/
.bootstrap-datetimepicker-widget table td.active:hover>div,
	.bootstrap-datetimepicker-widget table td.active>div {
	background-color: #60a244 !important;
}

.bootstrap-datetimepicker-widget a[data-action] span,
	.bootstrap-datetimepicker-widget a[data-action]:hover span {
	color: #60a244 !important;
}

.bootstrap-datetimepicker-widget table td.today>div:before {
	border-bottom-color: #60a244 !important;
}

.bootstrap-datetimepicker-widget .btn.btn-primary.focus,
	.bootstrap-datetimepicker-widget .btn.btn-primary {
	color: #fff;
	background-color: #60a244 !important;
	border-color: #60a244 !important;
}

.bootstrap-datetimepicker-widget .btn.btn-primary.focus,
	.bootstrap-datetimepicker-widget .btn.btn-primary:focus,
	.bootstrap-datetimepicker-widget .btn.btn-primary:hover {
	color: #fff;
	background-color: #60a244 !important;
	border-color: #487834 !important;
}