body, html {
	height: 100%;
	font-family: Roboto;
}

/************ Login *******************/
.bg-cover {
	background-size: cover !important;
}

.btn-text-shadow {
	text-shadow: 1px 1px 2px #000000;
}

.card-login {
	/*padding: 20px 200px;*/
	border-radius: 63px;
	border: solid 1px #979797;
	background-color: #ffffff;
}

.btn-login {
	width: 247px;
	height: 55px;
}

/* input { */
/* 	font-size: 16px !important; */
/* 	letter-spacing: 0.3px; */
/* 	color: #60a244 !important; */
/* } */

@media screen and (min-width: 900px) {
	.card-login {
		padding: 20px 100px;
	}
}

.material-icons {
	color: #acb1c0 !important;
}

.loginP {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
}

.loginP a {
	color: #60A244;
}

.btn-contrainer-img {
	background: transparent;
	border: none;
}

.btn-contrainer-img:focus {
	outline: none;
}
/************ end login *****************/
a:focus, a:hover {
	color: #60a244 !important;
	text-decoration: underline !important;
}

.main-panel>.content {
	margin-top: 30px;
}

.inputSearchNavbar {
	background-color: white;
	height: 42px !important;
	padding-left: 4px;
}

/* input, .select2-container--default .select2-selection--single .select2-selection__rendered, */
/* 	textarea { */
/* 	font-family: Roboto; */
/* 	font-size: 17px !important; */
/* 	font-weight: normal; */
/* 	font-stretch: normal; */
/* 	font-style: normal; */
/* 	line-height: normal; */
/* 	letter-spacing: 0.32px; */
/* 	color: #1e2432 !important; */
/* } */

/* label.bmd-label-floating, .form-check-label, .bmd-label-static { */
/* 	font-family: Roboto; */
/* 	font-size: 16px !important; */
/* 	font-weight: normal; */
/* 	font-stretch: normal; */
/* 	font-style: normal; */
/* 	line-height: 19px; */
/* 	letter-spacing: 0.32px; */
/* 	color: #acb1c0; */
/* } */

/* .form-group label { */
/* 	font-family: Roboto; */
/* 	font-style: normal; */
/* 	font-weight: normal; */
/* 	font-size: 16px !important; */
/* 	line-height: 19px; */
/* 	color: #acb1c0; */
/* } */

/* .is-focused [class*=" bmd-label"], .is-focused [class^=bmd-label], */
/* 	.is-filled [class*=" bmd-label"], .is-filled [class^=bmd-label] { */
/* 	color: #acb1c0 !important; */
/* 	top: -1.25rem !important; */
/* } */

/* .bmd-form-group.is-focused .bmd-label-floating, .bmd-form-group.is-filled .bmd-label-floating */
/* 	{ */
/* 	top: -1.25rem !important; */
/* } */

/* .form-check .form-check-label { */
/* 	font-size: 16px !important; */
/* } */

.registerTitle {
	font-family: Roboto;
	font-size: 20px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.25;
	letter-spacing: 0.19px;
	color: #60a244;
}

.registerSubTitle, .registerModalTitle {
	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.5;
	letter-spacing: 0.17px;
	color: #000000;
}

.requestSubTitle {
	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #656565;
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

/* .addServiceTypeSubTitle { */
/* 	font-family: Roboto; */
/* 	font-size: 18px; */
/* 	font-weight: 500; */
/* 	font-stretch: normal; */
/* 	font-style: normal; */
/* 	line-height: 2.81; */
/* 	letter-spacing: 0.15px; */
/* 	color: #60a244; */
/* 	display: inline; */
/* } */

.cardBodyAddServiceType {
	padding-top: 15px !important;
}

.addRatePropertySizeCircle {
	color: #60a244;
	font-size: 18px;
}

.removeRatePropertySizeCircle {
	color: #df5353;
	font-size: 18px;
}

.main {
	background-color: white;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	padding: 10px 23px 23px 35px;
}

/* .modal-content { */
/* 	border-radius: 20px !important; */
/* 	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.08) !important; */
/* 	padding: 25px; */
/* } */

/* .modal-dialog .modal-header .close { */
/* 	top: auto !important; */
/* } */

/* .modal-button-close { */
/* 	font-family: Roboto; */
/* 	font-size: 18px !important; */
/* 	font-weight: 500; */
/* 	font-stretch: normal; */
/* 	font-style: normal; */
/* 	line-height: 2.5 !important; */
/* 	letter-spacing: 0.17px !important; */
/* 	color: #767676 !important; */
/* } */

/* .modal-button-done { */
/* 	font-family: Roboto; */
/* 	font-size: 18px !important; */
/* 	font-weight: 500; */
/* 	font-stretch: normal; */
/* 	font-style: normal; */
/* 	line-height: 2.5 !important; */
/* 	letter-spacing: 0.17px !important; */
/* 	color: #60a244 !important; */
/* } */

/* .modal-button-done:disabled { */
/* 	color: #999 !important; */
/* } */

/* .modal-dialog .modal-footer { */
/* 	padding: 0 !important; */
/* } */

/* .modal-dialog-header { */
/* 	font-size: 25px; */
/* 	font-weight: 500; */
/* 	line-height: 1.2; */
/* 	text-align: center; */
/* 	color: #60a244; */
/* } */

/* .deleteHeader { */
/* 	margin: 25px 0 29px 27px; */
/* 	font-family: Roboto; */
/* 	font-size: 25px; */
/* 	font-weight: 500; */
/* 	font-stretch: normal; */
/* 	font-style: normal; */
/* 	line-height: 1.2; */
/* 	letter-spacing: normal; */
/* 	text-align: center; */
/* 	color: #60a244; */
/* } */

.my-check-box-label, .customer-register-label, .requestLabel {
	font-family: Roboto;
	font-size: 17px !important;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.32px;
	color: #acb1c0 !important;
}

.requestLabelGreen {
	font-family: Roboto;
	font-size: 17px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.32px;
	color: #60a244;
}

.requestSpan {
	font-family: Roboto;
	font-size: 16.5px !important;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.32px;
	color: #1e2432 !important;
}

.requestSpanGreen {
	font-family: Roboto;
	font-size: 17px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.32px;
	color: #60a244;
}

.customerRequestSpan {
	font-family: Roboto;
	font-size: 16.5px !important;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.32px;
	color: #1e2432 !important;
	/* padding: 7px 10px !important; */
	height: auto;
	min-height: 35px;
}

.cardTitleGreen {
	font-family: Roboto;
	font-size: 18px !important;
	font-weight: 500 !important;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.5;
	letter-spacing: 0.17px;
	color: #60a244 !important;
}

.cardTitleGrey {
	font-family: Roboto;
	font-size: 18px !important;
	font-weight: 500 !important;
	font-stretch: normal;
	font-style: normal;
	line-height: 2.5;
	letter-spacing: 0.17px;
	color: #656565 !important;
}

.select2-container--default .select2-selection--single {
	border: none !important;
	/* border-bottom: solid 1px #eaecef !important; */
	background-image: none;
	box-shadow: 0 2px 48px 0 rgb(0 0 0/ 8%);
	height: 35px !important;
	padding: 5px 0;
}

.my-check-box-label-checked {
	color: #6c707c !important;
	font-weight: bold !important;
}

.my-check-box {
	width: 15px;
	height: 15px;
	color: #c3c7d2;
}

.my-check-box .checked, .checked {
	color: #60a244 !important;
}

.add-other-input {
	font-family: Roboto;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.26px;
	color: #acb1c0;
}

.add-other-button {
	position: absolute;
	right: 0;
	color: gray;
	margin-top: 10px;
	margin-right: 15px;
	color: #c3c7d2 !important;
	transition: 0.3s ease-in-out;
}

.inputFileVisible {
	background-image: none;
}

/* .card .card-header.card-header-icon i, .card .card-header.card-header-text i */
/* 	{ */
/* 	font-size: 28px */
/* } */

.circle {
	border-color: #60a244 !important;
}

/* .check { */
/* 	background-color: #60a244 !important; */
/* } */
.form-check .form-check-input:checked ~.form-check-sign .check {
	background: #60a244 !important;
}

/* .form-check-label { */
/* 	font-size: 17px !important; */
/* 	letter-spacing: 0.32px; */
/* 	color: #1e2432; */
/* } */

.modal-message-label {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 35px;
	text-align: center;
	color: #60A244;
}

.terms {
	margin: 0 0 10px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: 0.32px;
	color: #1e2432;
}

.terms-text {
	color: #60a244;
}

.submit-container {
	text-align: center;
}

/* .btn-register { */
/* 	width: 247px !important; */
/* 	height: 55px !important; */
/* } */

/* .main-radius { */
/* 	border-radius: 30px !important; */
/* 	margin-top: 20px; */
/* } */

.select2-container--default .select2-results__option--highlighted[aria-selected]
	{
	background-color: #60a244 !important;
}

.requestDownloadLink {
	font-size: 16.5px !important;
}

/* @media ( max-width : 767px) { */
/* 	.container-fluid { */
/* 		padding-left: 0px !important; */
/* 		padding-right: 0px !important; */
/* 	} */
/* } */

.table {
	table-layout: fixed;
}

/* .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, */
/* 	.table>thead>tr>td, .table>thead>tr>th { */
/* 	border-left: 1px solid; */
/* 	border-color: #e9e8e8 !important; */
/* } */

/* thead tr th { */
/* 	border-top: 1px solid #e9e8e8 !important; */
/* 	text-align: center; */
/* } */
.recommendContractor {
	margin-top: 8px !important;
	margin-bottom: 5px !important;
}

.recommendContractor .card-body {
	padding: 6px 15px !important;
	cursor: pointer !important;
}

.recommendContractor .card-body label {
	cursor: pointer !important;
}

.recommendContractorNameH6 {
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #60a244;
	margin-bottom: 0px !important;
	text-transform: capitalize;
}

.recommendContractorDataP {
	font-family: Roboto;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #656565;
	margin-bottom: 1px !important;
	text-transform: capitalize;
}

.selected-contractor-card .recommendContractorNameH6 {
	font-family: Roboto;
	font-size: 18px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #60a244;
	margin-bottom: 0px !important;
	text-transform: capitalize;
}

.selected-contractor-card .recommendContractorDataP {
	font-family: Roboto;
	font-size: 18px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #656565;
	margin-bottom: 1px !important;
}

.assignContractorHeader {
	font-family: Roboto;
	font-size: 20px;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #60a244;
}

.carouselContractorH2 {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	color: #000000;
}

.carouselContractorNameH4, .carouselContractorNameH4 a {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	color: #171B1E;
}

.carouselContractorKmP {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.301176px;
	color: #ACB1C0;
	margin-bottom: 0;
}

.clickBtn {
	padding: 10px 25px !important;
	font-size: 13px !important;
}

/* .form-group label { */
/* 	margin: 0 !important; */
/* } */

.form-group {
	padding-bottom: 0 !important;
}

.modal-backdrop {
	background-color: #000 !important;
}
/************************* datetime picker **************************/
.bootstrap-datetimepicker-widget table td.active:hover>div,
	.bootstrap-datetimepicker-widget table td.active>div {
	background-color: #30BB30 !important;
}

.bootstrap-datetimepicker-widget a[data-action] span,
	.bootstrap-datetimepicker-widget a[data-action]:hover span {
	color: #30BB30 !important;
}

.bootstrap-datetimepicker-widget table td.today>div:before {
	border-bottom-color: #30BB30 !important;
}

.bootstrap-datetimepicker-widget .btn.btn-primary.focus,
	.bootstrap-datetimepicker-widget .btn.btn-primary {
	color: #fff;
	background-color: #30BB30 !important;
	border-color: #30BB30 !important;
}

.bootstrap-datetimepicker-widget .btn.btn-primary.focus,
	.bootstrap-datetimepicker-widget .btn.btn-primary:focus,
	.bootstrap-datetimepicker-widget .btn.btn-primary:hover {
	color: #fff;
	background-color: #30BB30 !important;
	border-color: #60a244 !important;
}
.bootstrap-datetimepicker-widget a[data-action]:hover{
	background-color: transparent !important;
}
/* .form-control, .form-control:invalid, .is-focused .form-control { */
/* 	background-image: none; */
/* 	box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08); */
/* } */

/* .is-focused { */
/* 	box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08); */
/* } */

/* .form-control:focus { */
/* 	border-bottom: 2px solid #60a244 !important; */
/* 	box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14) !important; */
/* } */

/******************** tables *******************/
.table {
	margin-bottom: 0 !important;
	border-bottom: none !important;
	table-layout: fixed;
}

/* div.dataTables_wrapper div.dataTables_filter input { */
/* 	font-family: Roboto; */
/* 	font-size: 14px !important; */
/* 	font-weight: normal; */
/* 	font-stretch: normal; */
/* 	font-style: normal; */
/* 	line-height: normal; */
/* 	letter-spacing: 0.66px; */
/* 	color: #4d4d4d !important; */
/* 	width: 219px; */
/* 	height: 28px; */
/* 	padding: 6px 18px 6px 14px; */
/* 	border-radius: 7px; */
/* 	border: 1px solid #eee; */
/* 	box-shadow: 0 1px 34px 0 rgba(0, 0, 0, 0.08); */
/* 	background-color: white; */
/* } */

th select {
	font-family: Roboto !important;
	font-size: 13.5px !important;
	font-weight: normal !important;
	font-stretch: normal !important;
	font-style: normal !important;
	line-height: normal !important;
	letter-spacing: 0.55px;
	color: #72777b !important;
	width: 100% !important;
	height: auto !important;
	padding: 5px 3px;
	border-radius: 7px !important;
	border: 1px solid #eee !important;
	box-shadow: 0 1px 34px 0 rgba(0, 0, 0, 0.08) !important;
	background-color: white !important;
	background-image: none !important;
	border-radius: 7px !important;
	color: #4d4d4d;
	border-radius: 7px !important
}

#yearsOfExperience select {
	font-family: Roboto !important;
	font-size: 13.5px !important;
	font-weight: normal !important;
	font-stretch: normal !important;
	font-style: normal !important;
	line-height: normal !important;
	letter-spacing: 0.55px;
	color: #72777b !important;
	width: 200px !important;
	height: auto !important;
	padding: 5px 3px;
	border-radius: 7px !important;
	border: 1px solid #eee !important;
	box-shadow: 0 1px 34px 0 rgba(0, 0, 0, 0.08) !important;
	background-color: white !important;
	background-image: none !important;
	border-radius: 7px !important;
	color: #4d4d4d;
	border-radius: 7px !important
}

div.dataTables_wrapper div.dataTables_length select {
	border: none !important;
	box-shadow: 0 1px 34px 0 rgba(0, 0, 0, 0.08);
	background-color: white;
	font-family: Roboto;
	font-size: 14px;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before,
	table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc:before,
	table.dataTable thead .sorting_desc_disabled:before {
	top: auto !important;
	left: 93%;
	right: 0;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after,
	table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc:after,
	table.dataTable thead .sorting_desc_disabled:after {
	top: auto !important;
	left: 97%;
	right: 0;
}

/* .gardenHelpTable>tbody>tr>td, .gardenHelpTable>tbody>tr>th, */
/* 	.gardenHelpTable>tfoot>tr>td, .gardenHelpTable>tfoot>tr>th, */
/* 	.gardenHelpTable>thead>tr>td, .gardenHelpTable>thead>tr>th { */
/* 	padding: 12px 8px !important; */
/* } */

/******************/
.tablePinSpan {
	font-size: 20px;
}

.tooltipC {
	position: relative;
	position: relative;
	display: inline-block;
}

.tooltipC .tooltiptextC {
	visibility: hidden;
	display: none;
	width: max-content;
	height: auto;
	background-color: #e7e7e7;
	text-align: left;
	border-radius: 6px;
	padding: 5px;
	z-index: 1;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #656565;
	position: absolute;
	/*   top: 100%; */
	/*   left: 50%; */
	/*   margin-left: -60px; */
	top: 0px;
	right: 130%;
	overflow: inherit;
	box-shadow: 0 2px 2px 0 hsl(0deg 0% 60%/ 14%), 0 3px 1px -2px
		hsl(0deg 0% 60%/ 20%), 0 1px 5px 0 hsl(0deg 0% 60%/ 12%);
}

.tooltipC .tooltiptextC::after {
	content: "";
	position: absolute;
	/*   bottom: 100%; */
	/*   left: 50%; */
	/*   margin-left: -5px; */
	/*   border-width: 10px; */
	/*   border-style: solid; */
	/*   border-color: transparent transparent #e6e6e6 transparent; */
	top: 50%;
	left: 100%;
	margin-top: -8px;
	border-width: 8px;
	border-style: solid;
	border-color: transparent transparent transparent #e7e7e7;
}

.tooltipC:hover .tooltiptextC {
	display: block;
	visibility: visible;
	/*   position: absolute; */
	/*    position: absolute; */
	/*   z-index: 1001; */
}

#map {
	height: 100%;
}

.modal-dialog .btn {
	max-width: 100%;
}
/****** responsive *******/
.modal-dialog {
	width: 60%;
}

@media ( min-width : 576px) {
	.modal-dialog {
		max-width: 972px !important;
	}
	.modal-dialog .modal-body .card-body {
		padding: 5px;
	}
}

@media ( max-width : 575.5px) {
	.modal-dialog {
		width: 95% !important;
		margin-top: 20px !important;
	}
	.modal-content {
		padding: 35px 30px !important;
	}
	.modal-dialog .modal-body {
		padding: 15px;
	}
	.modal-dialog .modal-body .card-body {
		padding: 5px;
	}
	#map {
		min-height: 400px;
	}
}

@media ( max-width : 766.5px) {
	table.dataTable>tbody>tr>td:first-child {
		padding-left: 5px !important;
	}
}