@-webkit-keyframes fadeOut{from{opacity:1}to{opacity:0}}@keyframes fadeOut{from{opacity:1}to{opacity:0}}.v-toast--fade-out{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeInDown{from{opacity:0;-webkit-transform:translate3d(0, -100%, 0);transform:translate3d(0, -100%, 0)}to{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInDown{from{opacity:0;-webkit-transform:translate3d(0, -100%, 0);transform:translate3d(0, -100%, 0)}to{opacity:1;-webkit-transform:none;transform:none}}.v-toast--fade-in-down{-webkit-animation-name:fadeInDown;animation-name:fadeInDown}@-webkit-keyframes fadeInUp{from{opacity:0;-webkit-transform:translate3d(0, 100%, 0);transform:translate3d(0, 100%, 0)}to{opacity:1;-webkit-transform:none;transform:none}}@keyframes fadeInUp{from{opacity:0;-webkit-transform:translate3d(0, 100%, 0);transform:translate3d(0, 100%, 0)}to{opacity:1;-webkit-transform:none;transform:none}}.v-toast--fade-in-up{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}.fade-enter-active,.fade-leave-active{-webkit-transition:opacity 150ms ease-out;transition:opacity 150ms ease-out}.fade-enter,.fade-leave-to{opacity:0}.v-toast{position:fixed;display:-webkit-box;display:-ms-flexbox;display:flex;top:0;bottom:0;left:0;right:0;padding:2em;overflow:hidden;z-index:1052;pointer-events:none}.v-toast__item{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-animation-duration:150ms;animation-duration:150ms;margin:.5em 0;-webkit-box-shadow:0 1px 4px rgba(0,0,0,.12),0 0 6px rgba(0,0,0,.04);box-shadow:0 1px 4px rgba(0,0,0,.12),0 0 6px rgba(0,0,0,.04);border-radius:.25em;pointer-events:auto;opacity:.92;color:#fff;min-height:3em;cursor:pointer}.v-toast__item--success{background-color:#28a745}.v-toast__item--info{background-color:#17a2b8}.v-toast__item--warning{background-color:#ffc107}.v-toast__item--error{background-color:#dc3545}.v-toast__item--default{background-color:#343a40}.v-toast__item.v-toast__item--top,.v-toast__item.v-toast__item--bottom{-ms-flex-item-align:center;align-self:center}.v-toast__item.v-toast__item--top-right,.v-toast__item.v-toast__item--bottom-right{-ms-flex-item-align:end;align-self:flex-end}.v-toast__item.v-toast__item--top-left,.v-toast__item.v-toast__item--bottom-left{-ms-flex-item-align:start;align-self:flex-start}.v-toast__text{margin:0;padding:.5em 1em;word-break:break-word}.v-toast__icon{display:none}.v-toast.v-toast--top{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.v-toast.v-toast--bottom{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}.v-toast.v-toast--custom-parent{position:absolute}@media screen and (max-width: 768px){.v-toast{padding:0;position:fixed !important}}
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.fade-leave-active {
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  opacity: 0;
}

html,
body,
#app {
  font-family: Roboto;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.doorder-btn,
ul.orders-nav li.nav-item a.active {
  border-radius: 24px;
  -webkit-box-shadow: 0 12px 36px -12px rgba(76, 151, 161, 0.35);
          box-shadow: 0 12px 36px -12px rgba(76, 151, 161, 0.35);
  background-color: #60a244;
  width: 247px;
  height: 50px;
  font-size: 13.6px;
  font-weight: 500;
  letter-spacing: 0.75px;
  color: #ffffff;
}

form-control {
  padding: 11px 14px 11px 14px;
  border-radius: 10px !important;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08) !important;
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08) !important;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.77px;
  color: #4d4d4d;
  border: 1px solid #ced4da !important;
}

ul.orders-nav {
  border-bottom: 0;
}

ul.orders-nav li.nav-item a.active {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.88px;
  color: #ffffff;
  white-space: nowrap;
  width: 166px;
  height: 38px;
}

ul.orders-nav li.nav-item a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.88px;
  color: #4d4d4d;
  width: 166px;
  height: 38px;
  white-space: nowrap;
  text-align: center;
}

.delivery-time {
  width: 25px;
  height: 20px;
  padding: 2px 2px 1px 3px;
}

.delivery-time-container {
  font-size: 15.8px;
  letter-spacing: 0.77px;
  color: #ce0505;
}

.delivery-distance {
  font-size: 10.8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.77px;
  color: #1e2843;
  white-space: nowrap;
}

.doorder-btn:focus,
ul.orders-nav li.nav-item a.active:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white;
}

.data-empty {
  margin-left: auto;
  margin-bottom: auto;
}

.vc-btn {
  font-size: 18px !important;
  line-height: 2.5;
  letter-spacing: 0.17px;
  color: #767676 !important;
}

.vc-title {
  font-size: 18px !important;
  line-height: 2.5;
  letter-spacing: 0.17px;
  color: #555555 !important;
}

.vc-text {
  font-size: 17px !important;
  line-height: 1.24;
  letter-spacing: 0.32px;
  color: #acb1c0 !important;
}

.modal-content {
  padding: 24px 26px 50px 17px;
  border-radius: 20px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

textarea.form-control {
  padding: 4px 10px 5px 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

.vc-btn-grid {
  direction: rtl;
}

.doorder-btn-map {
  width: 36px;
  height: 36px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 0px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 7px 0 rgba(25, 84, 0, 0.4);
          box-shadow: 2px 2px 7px 0 rgba(25, 84, 0, 0.4);
  background-color: #60a244;
  color: white;
  margin-top: 15px;
}

.btn:hover {
  color: white;
}

