body {
    /*font-size: 18px;*/
}

nav.navbar {
    margin-bottom: 20px;
}

.navbar-aviva {
    background-color:#ffd900;
}

.navbar-aviva .navbar-nav .active > .nav-link,
.navbar-aviva .navbar-nav .nav-link.active,
.navbar-aviva .navbar-nav .nav-link.show,
.navbar-aviva .navbar-nav .show > .nav-link {
    color: #00479d;
}

nav.navbar.navbar-rrra {
    background-color:#FF6602 !important;
}

.navbar-rrra .navbar-nav .active > .nav-link,
.navbar-rrra .navbar-nav .nav-link.active,
.navbar-rrra .navbar-nav .nav-link.show,
.navbar-rrra .navbar-nav .show > .nav-link {
    color: #FFF;
}

.btn {
    border-radius: 25px;
}

.btn-aviva {
    color: #00479d;
    background-color: #ffd900;
    border-color: #ffd900;
}
.btn-aviva:hover,
.btn-aviva:active {
    color: #ffd900;
    background-color: #00479d;
    border-color: #00479d;
}

.sidebar .user .photo.photo-full {
    max-width: 100%;
    height: auto;
    width: initial;
    float: none;
    margin: 0 10px;
    border-radius: 10px;
}