body {
    /*font-size: 18px;*/
}

#adminNavLogoImg{
	width: 100px !important;
	height: 60px;
}

nav.navbar {
    margin-bottom: 20px;
}

.navbar-aviva {
    background-color:#ffd900;
}

.navbar-aviva .navbar-nav .active > .nav-link,
.navbar-aviva .navbar-nav .nav-link.active,
.navbar-aviva .navbar-nav .nav-link.show,
.navbar-aviva .navbar-nav .show > .nav-link {
    color: #00479d;
}

nav.navbar.navbar-rrra {
    background-color:#FF6602 !important;
}

.navbar-rrra .navbar-nav .active > .nav-link,
.navbar-rrra .navbar-nav .nav-link.active,
.navbar-rrra .navbar-nav .nav-link.show,
.navbar-rrra .navbar-nav .show > .nav-link {
    color: #FFF;
}

.btn {
    border-radius: 25px;
}

.btn-aviva {
    color: #00479d;
    background-color: #ffd900;
    border-color: #ffd900;
}
.btn-aviva:hover,
.btn-aviva:active {
    color: #ffd900;
    background-color: #00479d;
    border-color: #00479d;
}

.sidebar .user .photo.photo-full {
    max-width: 100%;
    height: auto;
    width: initial;
    float: none;
    margin: 0 10px;
    border-radius: 10px;
}


.sidebar-mini #adminNavLogoImg{
width: 40px !important;
height: 40px !important;
}
.sidebar-mini .sidebar:hover #adminNavLogoImg{
	width: 100px !important;
	height: 100px !important;
}
.navbar .collapse .navbar-nav .nav-item .nav-link {
	color: #8e8e8e !important;
}
.navbar .collapse .navbar-nav .nav-item .nav-link .fa, .navbar .collapse .navbar-nav .nav-item .nav-link .material-icons {
font-size: 28px !important;}

.btnSearchNavbar{
	border-radius:5px !important;
	border-end-start-radius: 0 !important;
	border-start-start-radius: 0 !important;
	background-color: white !important;
	border-color: white !important;
	color:#8e8e8e !important;
	padding: 10px 12px !important;
	box-shadow: none !important;
	width: auto !important;
}
#navbarDropdownMenuLink:hover, #navbarDropdownProfile:hover{
	background-color: transparent !important;
	color: #8e8e8e !important;
}

.inputSearchNavbar{
	padding-top:12px !important;
	padding-bottom:12px !important;
	box-shadow: none !important;
	border-radius:0 !important;
	border-end-end-radius: 0 !important;
	border-start-end-radius: 0 !important;
	color: #8e8e8e !important;
}
.btnSearchDropdownNavbar{
	background-color: white !important;
	border-color: white !important;
	color:#8e8e8e !important;
	border-radius:5px !important;
	border-end-end-radius: 0 !important;
	border-start-end-radius: 0 !important;
	padding: 11px !important;
	box-shadow: none !important;
}
.profileNameNavbar{
	font-size: 16px !important;
  font-weight: 500 !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 2.81 !important;
  letter-spacing: 0.15px !important;
  color: #8e8e8e !important;
  display: inline-block !important;
  margin-bottom: 0
}
#navbarDropdownProfile:hover .profileNameNavbar{
	color: #8e8e8e !important;
	}

