
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
//@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,600");

// Variables
@import "variables";

// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";

//Vue Toast Notification
@import "~vue-toast-notification/dist/theme-default.css";
//@import "~vue-toast-notification/dist/theme-sugar.css";

// Router transition
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity .3s ease;
}

.fade-leave {}

.fade-leave-active {
  transition: opacity .3s ease;
  opacity: 0;
}

//Custom style

html, body, #app {
  font-family: Roboto;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.doorder-btn {
  border-radius: 24px;
  box-shadow: 0 12px 36px -12px rgba(76, 151, 161, 0.35);
  background-color: #60a244;
  width: 247px;
  height: 50px;
  font-size: 13.6px;
  font-weight: 500;
  letter-spacing: 0.75px;
  color: #ffffff;
}

form-control {
  padding: 11px 14px 11px 14px;
  border-radius: 10px!important;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08)!important;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.77px;
  color: #4d4d4d;
  border: 1px solid #ced4da!important;
}

ul.orders-nav {
  border-bottom: 0;
}

ul.orders-nav li.nav-item a.active {
  @extend .doorder-btn;
  //width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.88px;
  color: #ffffff;
  white-space: nowrap;
  width: 166px;
  height: 38px;
}

ul.orders-nav li.nav-item a {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.88px;
  color: #4d4d4d;
  width: 166px;
  height: 38px;
  white-space: nowrap;
  text-align: center;
}

.delivery-time {
  width: 25px;
  height: 20px;
  padding: 2px 2px 1px 3px;
}

.delivery-time-container {
  font-size: 15.8px;
  letter-spacing: 0.77px;
  color: #ce0505;
}

.delivery-distance {
  font-size: 10.8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.77px;
  color: #1e2843;
  white-space: nowrap;
}

.doorder-btn:focus {
    outline: none;
    box-shadow: none;
    color: white;
}

.data-empty {
  margin-left: auto;
  margin-bottom: auto;
}

.vc-btn {
  font-size: 18px!important;
  line-height: 2.5;
  letter-spacing: 0.17px;
  color: #767676!important;
}

.vc-title {
  font-size: 18px!important;
  line-height: 2.5;
  letter-spacing: 0.17px;
  color: #555555!important;
}

.vc-text {
  font-size: 17px!important;
  line-height: 1.24;
  letter-spacing: 0.32px;
  color: #acb1c0!important;
}

.modal-content {
  padding: 24px 26px 50px 17px;
  border-radius: 20px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

textarea.form-control {
  padding: 4px 10px 5px 10px;
  border-radius: 10px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

.vc-btn-grid {
  direction: rtl;
}

.doorder-btn-map {
  width: 36px;
  height: 36px;
  object-fit: contain;
  padding: 0px;
  border-radius: 50%;
  box-shadow: 2px 2px 7px 0 rgba(25, 84, 0, 0.4);
  background-color: #60a244;
  color: white;
  margin-top: 15px;
}
.btn:hover {
  color: white;
}
